<!DOCTYPE html>
<style>
    .select{
        text-transform: none;
        height: 38px;
        border-radius: 5px;
        width: 100%;
    }
    .legend-normal {
        margin-left: 1em;
        padding: 5px;
        width: auto;
        font-size: inherit;
        font-weight: bold;
    }

    .fieldset-normal {
        border: 1px gray solid;
        padding: 10px;
    }

    .btn-100 {
        width: 100px;
    }
    .hide-col {
        display: none;
    }
</style>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="layout_header.html :: head_tag" />
    <title>Quản lý người dùng</title>
</head>
<body  class="hold-transition sidebar-mini layout-fixed text-sm">
<div class="wrapper">

    <th:block th:replace="layout_menu.html :: menu_tag" />
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container-fluid">
                <div class="card card-default">
                    <div class="card-header">
                        <h3><b>Quản lý cảnh báo</b></h3>
                    </div>
                    <div class="container-fluid">
                        <div class="row content" style="width: 100%">
                            <div class="col-sm-5" id="box_search">
                                <div class="card-header">
                                    <h3 style="text-align: center"><b>Tìm kiếm thông tin cấu hình cảnh báo</b></h3>
                                </div>
                                <br/>
                                <form class="form-horizontal" id="form_data">
                                    <div class="form-row" id ="search_users">
                                        <div class="form-group col-md-6">
                                            <label for="station">Trạm</label>
                                            <div class="select2-purple">
                                                <select id="station" data-placeholder="Select a State"
                                                        data-dropdown-css-class="select2-purple" style="width: 100%;">
                                                    <!--                                                            -->
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6 errorTxt">
                                            <div class="insertError">
                                                <label for="nameWarning">Tên cảnh báo</label>
                                                <input type="text" class="form-control" id="nameWarning" name="nameWarning" placeholder="">
                                            </div>
                                            <label></label>
                                        </div>
                                        <div class="col-md-6 errorTxt">
                                            <div class="insertError">
                                                <label for="startDate">Từ ngày</label>
                                                <input type="text" class="form-control" id="startDate" name="threshold1" placeholder="">
                                            </div>
                                            <label></label>
                                        </div>
                                        <div class="col-md-6 errorTxt">
                                            <div class="insertError">
                                                <label for="endDate">Đến ngày</label>
                                                <input type="text" class="form-control" id="endDate" name="threshold1" placeholder="">
                                            </div>
                                            <label></label>
                                        </div>
                                        <div class="col-md-6 errorTxt">
                                            <div class="insertError">
                                                <label for="codeWarning">Mã cảnh báo</label>
                                                <input type="text" class="form-control" id="codeWarning" name="codeWarning" placeholder="">
                                            </div>
                                            <label></label>
                                        </div>
                                    </div>
                                </form>
                                <div class="wrap-button-control">
                                    <button class="btn btn-primary" id="btnSearch" style="width:100px;">
                                        <i class="fas fa-search"></i> Tìm kiếm
                                    </button>
                                    <button class="btn btn-primary" id="btnDonew" style="width:100px;">
                                        <i class="fas fa-plus"></i> Thêm
                                    </button>
                                    <button class="btn btn-primary" id="btnDetail" style="width:100px;" disabled="disabled">
                                        <i class="fa fa-eye" aria-hidden="true"></i> Chi tiết
                                    </button>
                                </div>
                                <!--                            <p th:text="${a}"></p>-->
                                <div><input style="display:none" type="text" class="form-control" name="action_info" id="action_info" value="0"></div>
                                <div class="card-body" style="width: 100%;overflow: auto">
                                    <table id="tableWarningManagerStation" class="table table-bordered table-hover" style="width: 100%">
                                        <thead style="width: 100%;">
                                        <tr>
                                            <th></th>
                                            <th>#</th>
                                            <th data-id="s_id">ID</th>
                                            <th data-id="s_id_station">ID trạm</th>
                                            <th data-id="s_name_station">Tên trạm</th>
                                            <th data-id="s_code_warning">Mã cảnh báo</th>
                                            <th data-id="s_name_warning">Tên cảnh báo</th>
                                            <th data-id="s_icon">iCon</th>
                                            <th >Ngày tạo</th>
                                            <th >Mô tả</th>
                                            <th >Nội dung</th>
                                            <th >Màu sắc</th>
                                        </tr>
                                        </thead>
                                        <tbody style="width: 100%">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.card-footer -->
                            <div class="col-sm-7"  id ="box_info">
                                <div style="width: 100%;float: right">
                                    <fieldset class="fieldset-normal">
                                        <legend class="legend-normal">Thông tin chi tiết và điều kiện cảnh báo</legend>
                                        <form class="form-horizontal" id="form_input">
                                        <div class="form-row">
                                            <div class="form-group col-md-6 errorTxt">
                                                <label for="stationWarningAdd">Trạm <span style="color: red;">*</span></label>
                                                <div class="select2-purple insertError">
                                                    <select id="stationWarningAdd" name="stationWarning" data-placeholder="Select a State"
                                                            data-dropdown-css-class="select2-purple" style="width: 100%;">
                                                    </select>
                                                </div>
                                                <label></label>
                                            </div>

                                            <div class="col-md-6 errorTxt">
                                                <div class="insertError">
                                                    <label for="codeWarningAdd">Mã cảnh báo <span style="color: red;">*</span></label>
                                                    <input type="text" class="form-control" id="codeWarningAdd" name="codeWarning" placeholder="">
                                                </div>
                                                <label></label>
                                            </div>

                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6 errorTxt">
                                                <div class="insertError">
                                                    <label for="nameWarningAdd">Tên cảnh báo <span style="color: red;">*</span></label>
                                                    <input type="text" class="form-control" id="nameWarningAdd" name="nameWarning" placeholder="">
                                                </div>
                                                <label></label>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="iconWarningAdd">Icon</label>
                                                <div class="select2-purple">
                                                    <select id="iconWarningAdd" data-placeholder="Select a State" name="iconWarning"
                                                            data-dropdown-css-class="select2-purple" style="width: 100%;">
                                                        <!--                                                            -->
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-md-6 errorTxt">
                                                <div class="insertError">
                                                    <label for="colorWarningAdd">Màu sắc </label>
                                                    <input type="color" class="form-control" id="colorWarningAdd" name="colorWarning" placeholder="">
                                                </div>
                                                <label></label>
                                            </div>
                                            <div class="form-group col-md-6 errorTxt">
                                                <div class="insertError">
                                                    <label for="descriptionWarningAdd">Mô tả</label>
                                                    <textarea class="form-control col-md-12" rows="3" id="descriptionWarningAdd" name="descriptionWarning" placeholder="Enter ..."></textarea>
                                                </div>
                                                <label></label>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="insertError" style="margin: 0 auto;">
                                                <label>Nội dung</label>
                                                <textarea class="form-control col-md-12" id="contentWarningAdd" name="contentWarning" rows="5" placeholder="Enter ..."></textarea>
                                            </div>
                                        </div>
                                        <input type="number" class="form-control" id="id" name="id" hidden>
                                    </form>
                                    </fieldset>
<!--                                    <div>-->
<!--                                        <h3 style="text-align: center"><b>Danh sách điều kiện cho cảnh báo</b></h3>-->
<!--                                    </div>-->
                                    <fieldset class="fieldset-normal">
                                        <legend class="legend-normal">Danh sách điều kiện cho cảnh báo</legend>
                                        <form class="form-horizontal" id="formWarningThreshold">
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label for="station">Yếu tố</label>
                                                    <div class="select2-purple">
                                                        <select id="parameterWarningAdd" data-placeholder="Select a State"
                                                                data-dropdown-css-class="select2-purple" style="width: 100%;">
                                                            <!--                                                            -->
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label for="WarningThresholdCode">Mức cảnh báo của yếu tố theo trạm </label>
                                                    <div class="select2-purple">
                                                        <select id="WarningThresholdCode" data-placeholder="Select a State"
                                                                data-dropdown-css-class="select2-purple" style="width: 100%;">
                                                            <!--                                                            -->
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 errorTxt">
                                                    <div class="insertError">
                                                        <label for="levelWarning">Mức cảnh báo </label>
                                                        <input type="text" class="form-control" id="levelWarning" name="levelWarning" placeholder="" disabled="true">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 errorTxt">
                                                    <div class="insertError">
                                                        <label for="levelClear">Mức hủy cảnh báo </label>
                                                        <input type="text" class="form-control" id="levelClear" name="levelClear" placeholder="" disabled="true">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="wrap-button-control">
                                            <button class="btn btn-primary" id="btnsaveStationValueType" style="width: 100px;">
                                                <i class="fas fa-plus"></i> Lưu
                                            </button>
                                        </div>
                                    </fieldset>
                                    <hr>
                                    <table id="tableConditionWarning" class="table table-bordered table-hover" style="margin: 0 auto; width: 100%">
                                        <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Id yếu tố</th>
                                            <th>Id Warning threshold</th>
                                            <th>Yếu tố</th>
                                            <th>Mã mức cảnh báo theo yếu tố</th>
                                            <th>Ngưỡng cảnh báo</th>
                                            <th>Ngưỡng hủy cảnh báo</th>
                                            <th>Người tạo</th>
                                            <th>Ngày tạo</th>
                                            <th>Xóa</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>

                                    <hr>
                                    <div class="wrap-button-control">
                                        <button class="btn btn-primary" id="btnsave" style="display:none;width: 100px;">
                                            <i class="fas fa-plus"></i> Lưu
                                        </button>
                                        <button class="btn btn-primary" id="btnsaveEdit" style="display:none;width: 100px;">
                                            <i class="fas fa-plus"></i> Lưu
                                        </button>
                                        <button class="btn btn-primary" id="btnDelete" style="display:none;width: 100px;">
                                            <i class="far fa-trash-alt"></i> Xoá
                                        </button>
                                        <button class="btn btn-primary" id="btnReset" style="display:none;width: 100px;">
                                            <i class="fas fa-redo-alt"></i> Làm mới
                                        </button>
                                        <button class="btn btn-primary" id="btncancer" style="display:none;width: 100px;">
                                            <i class="fas fa-times"></i> Hủy
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="popup-loading">
                    <div class="wrapper-loading">
                        <div class="sub-wrapper-loading">
                            <div class="d-flex justify-content-center">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only" th:text="#{action.loading}">Loading...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<th:block th:replace="layout_footer.html :: footer_tag" />
<script type="text/javascript">
    var apiUrl = "[[${session.apiUrl}]]";
    var userBO = "[[${session.userBO}]]";
    var username = "[[${session.userBO.Username}]]";
    var token = "[[${session.token}]]";
</script>
<script src="js/warning_manager_station.js"></script>
</html>