<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="/layout_header.html :: head_tag" />
<!--    <link rel="stylesheet" href="/css/users_manage.css" type="text/css">-->
    <link rel="stylesheet" href="/css/config_value_type.css" type="text/css">
    <title>Quản lý người dùng</title>
</head>
<body  class="hold-transition sidebar-mini layout-fixed text-sm">
<div class="wrapper">

    <th:block th:replace="/layout_menu.html :: menu_tag" />
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container-fluid">
                <div class="card card-default">
                    <div class="card-header">
                        <h4>Cấu hình min-max cho từng yếu tố cho từng trạm</h4>
                    </div>
                    <div class="container-fluid">
                        <div class="row content" style="height: 1119px;width: 100%">
                            <div class="col-sm-5" id="box_search">
                                <div class="card-header">
                                    <h3 style="text-align: center"><b>Tìm kiếm thông tin trạm</b></h3>
                                </div>
                                <br/>
                                <form class="form-horizontal" id="form_data">
                                    <div class="form-row" id ="search_users">
                                        <div class="form-group col-md-6">
                                            <label for="station">Trạm</label>
                                            <div class="select2-purple">
                                            <select id="station" data-placeholder="Select a State"
                                                    data-dropdown-css-class="select2-purple" style="width: 100%;">
                                                <!--                                                            -->
                                            </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="value">Yếu tố</label>
                                            <input type="text" class="form-control" id="value"
                                                   placeholder="" >
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="start_date">Từ ngày</label>
                                            <input type="text" class="form-control" id="start_date"
                                                   placeholder="" autocomplete="off">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="end_date">Đến ngày</label>
                                            <input type="text" class="form-control" id="end_date"
                                                   placeholder="" autocomplete="off">
                                        </div>
                                    </div>
                                </form>
                                <div class="wrap-button-control">
                                    <button class="btn btn-primary" id="btnSearch" style="width:100px;">
                                        <i class="fas fa-search"></i> Tìm kiếm
                                    </button>
                                    <button class="btn btn-primary" id="btnDonew" style="width:100px;">
                                        <i class="fas fa-plus"></i> Thêm
                                    </button>
                                </div>
                                <!--                            <p th:text="${a}"></p>-->
                                <div><input style="display:none" type="text" class="form-control" name="action_info" id="action_info" value="0"></div>
                                <div class="card-body" style="width: 100%;overflow: auto">
                                    <table id="tableDataView" class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>#</th>
                                            <th data-id="s_id">ID</th>
                                            <th data-id="s_station_id">Id trạm</th>
                                            <th data-id="s_value_type_id">Id Yếu tố</th>
                                            <th data-id="s_station_name">Tên trạm</th>
                                            <th data-id="s_value_type_name">Tên Yếu tố</th>
                                            <th data-id="s_min">Cực tiểu</th>
                                            <th data-id="s_max">Cực đại</th>
                                            <th data-id="s_variable_time">Ngưỡng biến đổi liên tiếp theo không gian</th>
                                            <th data-id="s_variable_spatial">Ngưỡng biến đổi liên tiếp theo thời gian</th>
                                            <th data-id="s_start_apply_date">Ngày bắt đầu</th>
                                            <th data-id="s_end_apply_date">Ngày kết thúc</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.card-footer -->
                            <div class="col-sm-7"  id ="box_info">
                                <div style="width: 95%;float: right">
                                    <div class="card-header">
                                        <h3 style="text-align: center"><b>Thông tin người dùng</b></h3>
                                    </div>
                                    <form class="form-horizontal" id="form_input">
                                        <div class="form-row">

                                            <div class="form-group col-md-6">
                                                <label for="input_code">Mã tài khoản <span style="color: red;">*</span></label>
                                                <input type="text" class="form-control" id="input_code" placeholder="">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="input_email">Email</label>
                                                <input type="text" class="form-control" id="input_email"
                                                       placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="input_Username">Tên đăng nhập <span style="color: red;">*</span></label>
                                                <input type="text" class="form-control" id="input_Username" placeholder="">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="input_Password">Mật khẩu <span style="color: red;">*</span></label>
                                                <input type="text" class="form-control" id="input_Password" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="input_name">Họ và tên <span style="color: red;">*</span></label>
                                                <input type="text" class="form-control" id="input_name" placeholder="">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="input_cardNumber">Số chứng minh thư</label>
                                                <input type="text" class="form-control" id="input_cardNumber" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="input_group_id">Nhóm người dùng</label>
                                                <input type="email" class="form-control" id="input_group_id" placeholder="">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="input_phone">Số điện thoại</label>
                                                <input type="text" class="form-control" id="input_phone" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="input_group_id">Giới tính</label>
                                                <div>
                                                    <input  id="checkNam" name="checkedGender" class="checkedGender" type="radio" value="0" checked="true">
                                                    <lable style="font-size: 9pt">Nam </lable>&nbsp;&nbsp;
                                                    <input  id="checkNu"  name="checkedGender" class="checkedGender" type="radio" value="1">
                                                    <lable style="font-size: 9pt">Nữ</lable>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="input_phone">Trạng thái</label>
                                                <select class="form-control" name="status_id" id="status_id">
                                                    <option value="0">Không chọn</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="input_group_id">Phân quyền <span style="color: red;"> * </span></label>
                                                <div>
                                                    <input  id="checkNhomquyen" name="checkedQuyen" class="checkedQuyen" type="radio" value="0" checked="true" onclick="ckNhom_quyen()">
                                                    <lable style="font-size: 9pt">Nhóm quyền </lable>&nbsp;&nbsp;
                                                    <input  id="checktacvu"  name="checkedQuyen" class="checkedQuyen" type="radio" value="1" onclick="checktac_vu()">
                                                    <lable style="font-size: 9pt">Nghiệp vụ </lable>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="input_time_download">Thời gian download </label>
                                                <input type="text" class="form-control" id="input_time_download" placeholder="(Ngày)">
                                            </div>
                                        </div>
                                        <!--  tab phan quyen-->
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item">
                                                <a class="active nav-link" data-toggle="tab" href="#NV">Nghiệp vụ</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" data-toggle="tab" href="#menu2">Nhóm quyền</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="NV" class="tab-pane fade in active" >
                                                <h3>Nghiệp vụ</h3>
                                                <div class="box-body no-padding" id='data-list-table-nv'  style="overflow: auto">


                                                </div>
                                            </div>
                                            <div id="menu2" class="tab-pane fade">
                                                <h3>Nhóm quyền</h3>
                                                <div class="box-body no-padding" id='data-list-table-nq' style="width: 100%;overflow: auto" ></div>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- end tab phan quyen-->
                                    <div class="wrap-button-control">
                                        <button class="btn btn-primary" id="btnsave" style="display:none;width: 100px;">
                                            <i class="fas fa-plus"></i> Lưu
                                        </button>
                                        <button class="btn btn-primary" id="btnDelete" style="display:none;width: 100px;">
                                            <i class="far fa-trash-alt"></i> Xoá
                                        </button>
                                        <button class="btn btn-primary" id="btnReset" style="display:none;width: 100px;">
                                            <i class="fas fa-redo-alt"></i> Làm mới
                                        </button>
                                        <button class="btn btn-primary" id="btncancer" style="display:none;width: 100px;">
                                            <i class="fas fa-times"></i> Hủy
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="popup-loading">
                    <div class="wrapper-loading">
                        <div class="sub-wrapper-loading">
                            <div class="d-flex justify-content-center">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only" th:text="#{action.loading}">Loading...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<th:block th:replace="layout_footer.html :: footer_tag" />
<script type="text/javascript">
    var apiUrl = "[[${session.apiUrl}]]";
    var userBO = "[[${session.userBO}]]";
    var username = "[[${session.userBO.Username}]]";
    var token = "[[${session.token}]]";
</script>
<!--<script src="/js/users_manage.js"></script>-->
    <script src="js/config_value_type.js"></script>
</html>