<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="/layout_header.html :: head_tag" />
<!--    <link rel="stylesheet" href="/css/users_manage.css" type="text/css">-->
    <link rel="stylesheet" href="/css/config_value_type.css" type="text/css">
    <title>Quản lý người dùng</title>
</head>
<body  class="hold-transition sidebar-mini layout-fixed text-sm">
<div class="wrapper">

    <th:block th:replace="/layout_menu.html :: menu_tag" />
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container-fluid">
                <div class="card card-default">
                    <div class="card-header">
                        <h4>Cấu hình min-max cho từng yếu tố cho từng trạm</h4>
                    </div>
                    <div class="container-fluid">
                        <div class="row content" style="width: 100%">
                            <div class="col-sm-5" id="box_search">
                                <div class="card-header">
                                    <h3 style="text-align: center"><b>Tìm kiếm thông tin trạm</b></h3>
                                </div>
                                <br/>
                                <form class="form-horizontal" id="form_data">
                                    <div class="form-row" id ="search_users">
                                        <div class="form-group col-md-6">
                                            <label for="station">Trạm</label>
                                            <div class="select2-purple">
                                                <select id="station" data-placeholder="Select a State"
                                                        data-dropdown-css-class="select2-purple" style="width: 100%;">
                                                    <!--                                                            -->
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="value-type">Yếu tố</label>
                                            <div class="select2-purple">
                                                <select id="value-type" data-placeholder="Select a State"
                                                        data-dropdown-css-class="select2-purple" style="width: 100%;">
                                                    <!--                                                            -->
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="start_date">Từ ngày</label>
                                            <input type="text" class="form-control" id="start_date"
                                                   placeholder="" autocomplete="off">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="end_date">Đến ngày</label>
                                            <input type="text" class="form-control" id="end_date"
                                                   placeholder="" autocomplete="off">
                                        </div>
                                    </div>
                                </form>
                                <div class="wrap-button-control">
                                    <button class="btn btn-primary" id="btnSearch" style="width:100px;">
                                        <i class="fas fa-search"></i> Tìm kiếm
                                    </button>
                                    <button class="btn btn-primary" id="btnDonew" style="width:100px;">
                                        <i class="fas fa-plus"></i> Thêm
                                    </button>
                                </div>
                                <!--                            <p th:text="${a}"></p>-->
                                <div><input style="display:none" type="text" class="form-control" name="action_info" id="action_info" value="0"></div>
                                <div class="card-body" style="width: 100%;overflow: auto">
                                    <table id="tableValueTypeConfig" class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>#</th>
                                            <th data-id="s_id">ID</th>
                                            <th data-id="s_station_id">Id trạm</th>
                                            <th data-id="s_value_type_id">Id Yếu tố</th>
                                            <th data-id="s_station_name">Tên trạm</th>
                                            <th data-id="s_value_type_name">Tên Yếu tố</th>
                                            <th data-id="s_min">Cực tiểu</th>
                                            <th data-id="s_max">Cực đại</th>
                                            <th data-id="s_variable_time">Ngưỡng biến đổi liên tiếp theo không gian</th>
                                            <th data-id="s_variable_spatial">Ngưỡng biến đổi liên tiếp theo thời gian</th>
                                            <th>Ngày bắt đầu</th>
                                            <th>Ngày kết thúc</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.card-footer -->
                            <div class="col-sm-7"  id ="box_info">
                                <div style="width: 95%;float: right">
                                    <div class="card-header">
                                        <h3 style="text-align: center"><b>Thông tin min max cho từng loại dữ liệu</b></h3>
                                    </div>
                                    <form class="form-horizontal" id="form_input">
                                        <div class="form-row">
                                            <div class="form-group col-md-6 errorTxt">
                                                <label for="station_add">Trạm<span style="color: red;">*</span></label>
                                                <div class="select2-purple insertError">
                                                    <select id="station_add" name="station_add" data-placeholder="Select a State"
                                                            data-dropdown-css-class="select2-purple" style="width: 100%;">
                                                    </select>
                                                </div>
                                                <label></label>
                                            </div>

                                            <div class="form-group col-md-6 errorTxt">
                                                <label for="value-type-station">Yếu tố<span style="color: red;">*</span></label>
                                                <div class="select2-purple insertError">
                                                    <select id="value-type-station" name="value_type_station" data-placeholder="Select a State"
                                                            data-dropdown-css-class="select2-purple" style="width: 100%;">
                                                    </select>
                                                </div>
                                                <label></label>
                                            </div>

                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6 errorTxt">
                                                <div class="insertError">
                                                    <label for="min">Giá trị min<span style="color: red;">*</span></label>
                                                    <input type="number" class="form-control" id="min" name="min" placeholder="">
                                                </div>
                                                <label></label>
                                            </div>
                                            <div class="col-md-6 errorTxt">
                                                <div class="insertError">
                                                    <label for="max">Giá trị max<span style="color: red;">*</span></label>
                                                    <input type="number" class="form-control" id="max" name="max" placeholder="">
                                                </div>
                                                <label></label>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6 errorTxt">
                                                <div class="insertError">
                                                    <label for="variableTime">Mức độ biến đổi theo thời gian<span style="color: red;">*</span></label>
                                                    <input type="number" class="form-control" id="variableTime" name="variableTime" placeholder="">
                                                </div>
                                                <label></label>
                                            </div>
                                            <div class="form-group col-md-6 errorTxt">
                                                <div class="insertError">
                                                    <label for="variableSpatial">Mức độ biến đổi theo không gian<span style="color: red;">*</span></label>
                                                    <input type="number" class="form-control" id="variableSpatial" name="variableSpatial" placeholder="">
                                                </div>
                                                <label></label>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6 errorTxt">
                                                <div class="insertError">
                                                    <label for="startDateApply">Áp dụng từ <span style="color: red;">*</span></label>
                                                    <input type="email" class="form-control" id="startDateApply" name="startDateApply" placeholder="">
                                                </div>
                                                <label></label>
                                            </div>
                                            <div class="form-group col-md-6 errorTxt">
                                                <div class="insertError">
                                                    <label for="endDateApply">Áp dụng đến</label>
                                                    <input type="text" class="form-control" id="endDateApply" name="endDateApply" placeholder="">
                                                </div>
                                                <label></label>
                                            </div>
                                        </div>

                                    </form>
                                    <div>
                                        <h3 style="text-align: center"><b>Danh sách các trạm biến đổi theo không gian</b></h3>
                                    </div>
                                    <form class="form-horizontal" id="formStationSpatial">
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="stationSpatial">Trạm</label>
                                                <div class="select2-purple">
                                                    <select id="stationSpatial" data-placeholder="Select a State"
                                                            data-dropdown-css-class="select2-purple" style="width: 100%;">
                                                        <!--                                                            -->
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="valueTypeSpatial">Trạm</label>
                                                <div class="select2-purple" style="height: 38px">
                                                    <select id="valueTypeSpatial" data-placeholder="Select a State"
                                                            data-dropdown-css-class="select2-purple" style="width: 100%; height: 38px">
                                                        <!--                                                            -->
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="wrap-button-control">
                                        <button class="btn btn-primary" id="btnsaveStationValueType" style="width: 100px;">
                                            <i class="fas fa-plus"></i> Lưu
                                        </button>
                                    </div>
                                    <hr>
                                    <table id="tableStationSpatial" class="table table-bordered table-hover" style="margin: 0 auto; width: 100%">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Id trạm</th>
                                            <th>Id Yếu tố</th>
                                            <th>Mã trạm</th>
                                            <th>Tên trạm</th>
                                            <th>Mã yếu tố</th>
                                            <th>Tên yếu tố</th>
                                            <th>Mức độ biến đổi theo không gian</th>
                                            <th>Xóa</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>

                                    <hr>
                                    <div class="wrap-button-control">
                                        <button class="btn btn-primary" id="btnsave" style="display:none;width: 100px;">
                                            <i class="fas fa-plus"></i> Lưu
                                        </button>
                                        <button class="btn btn-primary" id="btnDelete" style="display:none;width: 100px;">
                                            <i class="far fa-trash-alt"></i> Xoá
                                        </button>
                                        <button class="btn btn-primary" id="btnReset" style="display:none;width: 100px;">
                                            <i class="fas fa-redo-alt"></i> Làm mới
                                        </button>
                                        <button class="btn btn-primary" id="btncancer" style="display:none;width: 100px;">
                                            <i class="fas fa-times"></i> Hủy
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="popup-loading">
                    <div class="wrapper-loading">
                        <div class="sub-wrapper-loading">
                            <div class="d-flex justify-content-center">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only" th:text="#{action.loading}">Loading...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<th:block th:replace="layout_footer.html :: footer_tag" />
<script type="text/javascript">
    var apiUrl = "[[${session.apiUrl}]]";
    var userBO = "[[${session.userBO}]]";
    var username = "[[${session.userBO.Username}]]";
    var token = "[[${session.token}]]";
</script>
<!--<script src="/js/users_manage.js"></script>-->
    <script src="js/config_value_type.js"></script>
</html>