<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:replace="/layout_header.html :: head_tag" />
	<link rel="stylesheet" href="/css/site_manager.css" type="text/css">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">

		<th:block th:replace="/layout_menu.html :: menu_tag" />
		<div class="content-wrapper">
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0 text-dark" th:text="#{ctl_relay.title}"></h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item">
									<a href="/" th:text="#{home}"></a>
								</li>
								<li class="breadcrumb-item active" th:text="#{ctl_relay.title}"/>
							</ol>
						</div>
					</div>
				</div>
			</div>
			<section class="content">
				<div class="container-fluid">
					<div class="card card-default">
						<form class="form-horizontal" id="form_data">
							<div class="card-header">
								<h3 class="card-title" th:text="#{ctl_relay.title}"></h3>
							</div>
							<div class="card-body">
								<input type="hidden" id="inputId">
								<input type="hidden" id="inputSiteDeviceId">
								<div class="form-row">
									<div class="form-group col-md-6">
									<label for="inputSiteInfo" th:text="#{ctl_relay.siteinfo}"></label>
										<select class="form-control" id="inputSiteInfo">
											<option value="" th:text="#{select.option.default}"></option>
											<option th:each="siteInfo : ${listSites}"
												th:value="${siteInfo.id}" th:utext="${siteInfo.siteName}" />
										</select>
									</div>
									<div class="form-group col-md-6">
										<label for="inputDeviceInfo" th:text="#{ctl_relay.deviceinfo}"></label>
										<select class="form-control" id="inputDeviceInfo">
											<option value="" th:text="#{select.option.default}"></option>
											<option th:each="device : ${listDevices}"
												th:value="${device.id}" th:utext="${device.deviceName}" />
										</select>
									</div>
								</div>
							</div>
							
							<div class="form-row">
								<div class="form-group col-md-3">
									<label >R0</label>
									<select class="form-control di_list" id="r0">
										<option value="" th:text="#{ctl_relay.not_use}">Không hoạt động</option>
										<option value="0" th:text="#{ctl_relay.off}">Không kích hoạt</option>
										<option value="1" th:text="#{ctl_relay.on}">Kích hoạt</option>
									</select>
								</div>
								<div class="form-group col-md-3">
									<label >R1</label>
									<select class="form-control di_list" id="r1">
										<option value="" th:text="#{ctl_relay.not_use}">Không hoạt động</option>
										<option value="0" th:text="#{ctl_relay.off}">Không kích hoạt</option>
										<option value="1" th:text="#{ctl_relay.on}">Kích hoạt</option>
									</select>
								</div>
								<div class="form-group col-md-3">
									<label >R2</label>
									<select class="form-control di_list" id="r2">
										<option value="" th:text="#{ctl_relay.not_use}">Không hoạt động</option>
										<option value="0" th:text="#{ctl_relay.off}">Không kích hoạt</option>
										<option value="1" th:text="#{ctl_relay.on}">Kích hoạt</option>
									</select>
								</div>
								<div class="form-group col-md-3">
									<label >R3</label>
									<select class="form-control di_list" id="r3">
										<option value="" th:text="#{ctl_relay.not_use}">Không hoạt động</option>
										<option value="0" th:text="#{ctl_relay.off}">Không kích hoạt</option>
										<option value="1" th:text="#{ctl_relay.on}">Kích hoạt</option>
									</select>
								</div>
							</div>
							
							<div class="form-row">
								<div class="form-group col-md-3">
									<label >R4</label>
									<select class="form-control di_list" id="r4">
										<option value="" th:text="#{ctl_relay.not_use}">Không hoạt động</option>
										<option value="0" th:text="#{ctl_relay.off}">Không kích hoạt</option>
										<option value="1" th:text="#{ctl_relay.on}">Kích hoạt</option>
									</select>
								</div>
								<div class="form-group col-md-3">
									<label >R5</label>
									<select class="form-control di_list" id="r5">
										<option value="" th:text="#{ctl_relay.not_use}">Không hoạt động</option>
										<option value="0" th:text="#{ctl_relay.off}">Không kích hoạt</option>
										<option value="1" th:text="#{ctl_relay.on}">Kích hoạt</option>
									</select>
								</div>
								<div class="form-group col-md-3">
									<label >R6</label>
									<select class="form-control di_list" id="r6">
										<option value="" th:text="#{ctl_relay.not_use}">Không hoạt động</option>
										<option value="0" th:text="#{ctl_relay.off}">Không kích hoạt</option>
										<option value="1" th:text="#{ctl_relay.on}">Kích hoạt</option>
									</select>
								</div>
								<div class="form-group col-md-3">
									<label >R7</label>
									<select class="form-control di_list" id="r7">
										<option value="" th:text="#{ctl_relay.not_use}">Không hoạt động</option>
										<option value="0" th:text="#{ctl_relay.off}">Không kích hoạt</option>
										<option value="1" th:text="#{ctl_relay.on}">Kích hoạt</option>
									</select>
								</div>
							</div>
							
							<div class="form-row">
								<div class="form-group col-md-3">
									<label >R8</label>
									<select class="form-control di_list" id="r8">
										<option value="" th:text="#{ctl_relay.not_use}">Không hoạt động</option>
										<option value="0" th:text="#{ctl_relay.off}">Không kích hoạt</option>
										<option value="1" th:text="#{ctl_relay.on}">Kích hoạt</option>
									</select>
								</div>
								<div class="form-group col-md-3">
									<label >R9</label>
									<select class="form-control di_list" id="r9">
										<option value="" th:text="#{ctl_relay.not_use}">Không hoạt động</option>
										<option value="0" th:text="#{ctl_relay.off}">Không kích hoạt</option>
										<option value="1" th:text="#{ctl_relay.on}">Kích hoạt</option>
									</select>
								</div>
								<div class="form-group col-md-3">
									<label >R10</label>
									<select class="form-control di_list" id="r10">
										<option value="" th:text="#{ctl_relay.not_use}">Không hoạt động</option>
										<option value="0" th:text="#{ctl_relay.off}">Không kích hoạt</option>
										<option value="1" th:text="#{ctl_relay.on}">Kích hoạt</option>
									</select>
								</div>
								<div class="form-group col-md-3">
									<label >R11</label>
									<select class="form-control di_list" id="r11">
										<option value="" th:text="#{ctl_relay.not_use}">Không hoạt động</option>
										<option value="0" th:text="#{ctl_relay.off}">Không kích hoạt</option>
										<option value="1" th:text="#{ctl_relay.on}">Kích hoạt</option>
									</select>
								</div>
							</div>
							
							<div class="form-row">
								<div class="form-group col-md-3">
									<label >R12</label>
									<select class="form-control di_list" id="r12">
										<option value="" th:text="#{ctl_relay.not_use}">Không hoạt động</option>
										<option value="0" th:text="#{ctl_relay.off}">Không kích hoạt</option>
										<option value="1" th:text="#{ctl_relay.on}">Kích hoạt</option>
									</select>
								</div>
								<div class="form-group col-md-3">
									<label >R13</label>
									<select class="form-control di_list" id="r13">
										<option value="" th:text="#{ctl_relay.not_use}">Không hoạt động</option>
										<option value="0" th:text="#{ctl_relay.off}">Không kích hoạt</option>
										<option value="1" th:text="#{ctl_relay.on}">Kích hoạt</option>
									</select>
								</div>
								<div class="form-group col-md-3">
									<label >R14</label>
									<select class="form-control di_list" id="r14">
										<option value="" th:text="#{ctl_relay.not_use}">Không hoạt động</option>
										<option value="0" th:text="#{ctl_relay.off}">Không kích hoạt</option>
										<option value="1" th:text="#{ctl_relay.on}">Kích hoạt</option>
									</select>
								</div>
								<div class="form-group col-md-3">
									<label >R15</label>
									<select class="form-control di_list" id="r15">
										<option value="" th:text="#{ctl_relay.not_use}">Không hoạt động</option>
										<option value="0" th:text="#{ctl_relay.off}">Không kích hoạt</option>
										<option value="1" th:text="#{ctl_relay.on}">Kích hoạt</option>
									</select>
								</div>
							</div>
							
							<!-- /.card-body -->
							<div class="card-footer">
								<div class="wrap-button-control">
									<button class="btn btn-primary" id="btnCreate">
										<i class="fas fa-plus"></i>
										<span th:text="#{button.add}"></span>
									</button>
									<button class="btn btn-warning" id="btnEdit">
										<i class="far fa-edit"></i>
										<span th:text="#{button.edit}"></span>
									</button>
									<button class="btn btn-default" id="btnCopy">
										<i class="fas fa-copy"></i>
										<span th:text="#{button.copy}"></span>
									</button>
									<button class="btn btn-danger" id="btnDelete">
										<i class="far fa-trash-alt"></i>
										<span th:text="#{button.delete}"></span>
									</button>
									<button class="btn btn-success" id="btnSaveCreate" style="display: none;">
										<i class="fas fa-check-circle"></i>
										<span th:text="#{button.save}"></span>
									</button>
									<button class="btn btn-default" id="btnBackCreate" style="display: none;">
										<i class="fas fa-undo-alt"></i>
										<span th:text="#{button.back}"></span>
									</button>
									<button class="btn btn-success" id="btnSaveEdit" style="display: none;">
										<i class="fas fa-check-circle"></i>
										<span th:text="#{button.save}"></span>
									</button>
									<button class="btn btn-default" id="btnBackEdit" style="display: none;">
										<i class="fas fa-undo-alt"></i>
										<span th:text="#{button.back}"></span>
									</button>
									<button class="btn btn-success" id="btnSaveCopy" style="display: none;">
										<i class="fas fa-check-circle"></i>
										<span th:text="#{button.save}"></span>
									</button>
									<button class="btn btn-default" id="btnBackCopy" style="display: none;">
										<i class="fas fa-undo-alt"></i>
										<span th:text="#{button.back}"></span>
									</button>
								</div>
							</div>
							<!-- /.card-footer -->
						</form>
					</div>
					<!-- Main content -->
					<section class="content" id="wrap_table_data">
						<div class="container-fluid">
							<div class="row">
								<div class="col-12">
									<div class="card">
										<div class="card-header">
											<h3 class="card-title" th:text="#{user.table_info}"></h3>
										</div>
										<!-- /.card-header -->
										<div class="card-body">
											<table id="tableDataView" class="table table-bordered table-hover">
												<thead>
													<tr>
														<th>#</th>
														<th th:text="#{ctl_relay.siteinfo}">Site Code</th>
														<th th:text="#{ctl_relay.deviceinfo}">Device Code</th>
														<th>R0</th>
														<th>R1</th>
														<th>R2</th>
														<th>R3</th>
														<th>R4</th>
														<th>R5</th>
														<th>R6</th>
														<th>R7</th>
														<th>R8</th>
														<th>R9</th>
														<th>R10</th>
														<th>R11</th>
														<th>R12</th>
														<th>R13</th>
														<th>R14</th>
														<th>R15</th>
														<th th:text="#{ctl_relay.create_time}">Create time</th>
														<th>ID</th>
														<th>siteDeviceId</th>
														<th>siteId</th>
														<th>deviceId</th>
														<th>IR0</th>
														<th>IR1</th>
														<th>IR2</th>
														<th>IR3</th>
														<th>IR4</th>
														<th>IR5</th>
														<th>IR6</th>
														<th>IR7</th>
														<th>IR8</th>
														<th>IR9</th>
														<th>IR10</th>
														<th>IR11</th>
														<th>IR12</th>
														<th>IR13</th>
														<th>IR14</th>
														<th>IR15</th>
													</tr>
												</thead>
												<tbody>
												</tbody>
											</table>
										</div>
										<!-- /.card-body -->
									</div>
									<!-- /.card -->
								</div>
								<!-- /.col -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.container-fluid -->
					</section>
				</div>
			</section>
			<div class="popup-loading">
				<div class="wrapper-loading">
					<div class="sub-wrapper-loading">
						<div class="d-flex justify-content-center">
							<div class="spinner-border" role="status">
								<span class="sr-only" th:text="#{action.loading}">Loading...</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>
		<th:block th:replace="layout_footer.html :: footer_tag" />
		<script th:inline="javascript">
			function getState(id){
				switch(id) {
				  case '1':
				    return /*[[#{ctl_relay.on}]]*/;
				  case '0':
					    return /*[[#{ctl_relay.off}]]*/;
				  default:
					  return /*[[#{ctl_relay.not_use}]]*/;
				}
			}
		</script>
		<script src="/js/ctl_relay.js"></script>
	</div>
</body>
</html>