<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<th:block th:replace="/layout_header.html :: head_tag" />
</head>

<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">
		<th:block th:replace="/layout_menu.html :: menu_tag" />
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0 text-dark" th:text="#{watersensor.title}">Watersensor</h1>
						</div>
						<!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="/" th:text="#{home}"></a></li>
								<li class="breadcrumb-item active" th:text="#{watersensor.title}">Watersensor</li>
							</ol>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->
			<div class="container">
				<form id="inputForm0">
					<div class="form-group row">
						<label for="select_site" class="col-md-2 col-form-label" th:text="#{watersensor.site}">Site</label>
						<div class="col-md-4">
							<select id="select_site" name="select_site" class="form-control">
								<option value="" th:text="#{watersensor.select_site}">--- choose ---</option>
								<option th:each="site: ${sites}" th:title="${site.siteName}" th:value="${site.id}" th:text="${site.siteName}"></option>
							</select>
						</div>
						<label for="select_device" name="select_device" class="col-md-2 col-form-label" th:text="#{watersensor.device}">Device</label>
						<div class="col-md-4">
							<select id="select_device" class="form-control" style="border-radius: 5px" disabled>
								<option value="" th:text="#{watersensor.select_device}">--- choose ---</option>
							</select>
						</div>
					</div>
				</form>
				<div class="row">
					<div id="container" class="col-12">
					</div>
				</div>
			</div>
			<!-- /.content -->
		</div>
		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>
		<th:block th:replace="layout_footer.html :: footer_tag" />
		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/exporting.js"></script>
		<script th:inline="javascript">
		function renderDeviceOptions(devices) {
			for (let i = 0; i < devices.length; i++) {
				var option = createDeviceOption(devices[i], "device");
				$("#select_device").append(option);
			}
		}

		function createDeviceOption(device, inClass) {
			var option = $("<option value='" + device.id + "' class='" + inClass + "'>" + device.deviceName + "</option>");
			option.data("device", device);
			return option;
		}

		function clearDeviceOption() {
			$("#select_device").find(".device").each(function() {
				$(this).remove();
			});
		}

		function enableDeviceSelection() {
			$("#select_device").prop("disabled", false);
		}

		function disableDeviceSelection() {
			$("#select_device").prop("disabled", true);
		}

		function getSiteId() {
			return $("#select_site").val();
		}

		function getDeviceId() {
			return $("#select_device").val();
		}

		function renderChart(device, chartData) {
			var reportContainer = $("#container");
			var chartContainer = $("<div id='highchart' class='chart lineChart'></div>");
			reportContainer.empty();
			reportContainer.append(chartContainer);
			var series = [];
			var categories = [];
			for (let i = 0; i < chartData.length; i++) {
				var row = chartData[i];
				series.push(row.value);
				// series.push(Math.random() * 100);
				categories.push(row.minute);
			}
			var chartOptions = {
				chart: {
					renderTo: 'highchart',
				},
				title: {
					text: device.deviceName, // titile of the chart nothing is posible
					x: -20 //center is misunderstand
				},
				xAxis: {
					categories: categories
				},
				yAxis: {
					title: {
						text: '[[#{watersensor.value}]]' // tile of Y
					},
					plotLines: [{
						label: {
							text: 'Threshold',
							x: 15,
							y: -10
						},
						color: 'orange',
						width: 2,
						dashStyle: 'longdashdot',
						value: device.alarmValue
					}]
				},
				tooltip: {
					valueSuffix: 'mm'
				},
				legend: {
					layout: 'vertical',
					align: 'right',
					verticalAlign: 'middle',
					borderWidth: 0
				},
				series: [{
					name: device.deviceName,
					negativeColor: 'blue',
					color: 'red',
					threshold: device.alarmValue,
					data: series
				}]
			};
			return new Highcharts.Chart(chartOptions);
		}

		var chart = null;

		function loadChartData(siteId, deviceId) {
			if (!siteId || !deviceId)
				return;
			$.ajax({
					method: "POST",
					url: "/api/dtwatersensor/chart/" + siteId + "/" + deviceId,
				})
				.done(function(data) {
					if (chart == null)
					{
						var selectedDeviceOption = $("#select_device").find("option:selected");
						var selectedDevice = selectedDeviceOption.data("device");
						chart = renderChart(selectedDevice, data);
					}
					else
						updateChartData(chart, data);
				});
		}

		$("#select_site").change(function() {
			clearChart();
			var siteId = getSiteId();
			if (!siteId) {
				clearDeviceOption();
				disableDeviceSelection();
				return;
			}
			$.ajax({
					method: "GET",
					url: "/api/device/chart/find",
					data: {
						siteId: siteId,
						deviceType: "Watersensor"
					}
				})
				.done(function(devices) {
					clearDeviceOption();
					renderDeviceOptions(devices);
					enableDeviceSelection();
				});
		});

		$("#select_device").change(function() {
			clearChart();
			var siteId = getSiteId();
			var deviceId = getDeviceId();
			if (!siteId || !deviceId) {
				stopLoadDataService();
				return;
			}
			loadChartData(siteId, deviceId);
			startLoadDataService();
		});

		var reloadInterval = 5000;
		var loadDataService = null;

		function clearChart() {
			if (chart == null)
				return;
			var seriesLength = chart.series[0].data.length;
			for (var i = seriesLength - 1; i > -1; i--) {
				chart.series[0].data[i].remove();
			}
		}

		function updateChartData(chart, chartData) {
			var series = [];
			for (let i = 0; i < chartData.length; i++) {
				var row = chartData[i];
				series.push(row.value);
				// series.push(Math.random() * 100);
			}
			chart.update({
				series: [{
					data: series
				}]
			});
		}

		function startLoadDataService() {
			stopLoadDataService();
			loadDataService = setInterval(function() {
				var siteId = getSiteId();
				var deviceId = getDeviceId();
				loadChartData(siteId, deviceId);
			}, reloadInterval);
		}

		function stopLoadDataService() {
			if (loadDataService != null) {
				clearInterval(loadDataService);
				loadDataService = null;
			}
		}
		</script>
	</div>
</body>

</html>