<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<th:block th:replace="/layout_header.html :: head_tag" />
</head>

<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">
		<th:block th:replace="/layout_menu.html :: menu_tag" />
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0 text-dark" th:text="#{watersensor_his.title}">Watersensor</h1>
						</div>
						<!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="/" th:text="#{home}"></a></li>
								<li class="breadcrumb-item active" th:text="#{watersensor_his.title}">Watersensor</li>
							</ol>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->
			<div class="container">
				<form id="inputForm0">
					<div class="form-group row">
						<label for="select_site" class="col-md-2 col-form-label" th:text="#{watersensor_his.site}">Site</label>
						<div class="col-md-4">
							<select id="select_site" name="select_site" class="form-control">
								<option value="" th:text="#{watersensor_his.select_site}">--- choose ---</option>
								<option th:each="site: ${sites}" th:title="${site.siteName}" th:value="${site.id}" th:text="${site.siteName}"></option>
							</select>
						</div>
						<label for="select_device" class="col-md-2 col-form-label" th:text="#{watersensor_his.device}">device</label>
						<div class="col-md-4">
							<select id="select_device" name="select_device" class="form-control" style="border-radius: 5px" disabled>
								<option value="" th:text="#{watersensor_his.select_device}">--- choose ---</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<label for="report_date" class="col-md-2 col-form-label" th:text="#{watersensor_his.time_search}">Start date</label>
						<div class="col-md-4">
							<input id="report_date" name="report_date" type="text" class="form-control" />
						</div>
						<div class="col-md-4 offset-md-2">
							<button type="submit" id="search" class="btn btn-primary btn-block"><i class="fas fa-search"></i> <span th:text="#{button.search}"></span></button>
						</div>
					</div>
				</form>
				<div class="row">
					<div id="container" class="col-12">
					</div>
				</div>
			</div>
			<!-- /.content -->
		</div>
		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>
		<th:block th:replace="layout_footer.html :: footer_tag" />
		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/exporting.js"></script>
		<script>
		$(document).ready(function() {
			var reportDate = $('input[name="report_date"]').daterangepicker({
				timePicker: true,
				startDate: moment().startOf('date'),
				endDate: moment().endOf('day'),
				locale: {
					format: 'DD/MM/YYYY'
				}
			});
			$('#inputForm0').validate({
				rules: {
					select_site: {
						required: true,
					},
					select_device: {
						required: true,
					},
					report_date: {
						required: true
					},
				},
				messages: {
					select_site: {
						required: "Need to update data"
					},
					select_device: {
						required: "Need to update data"
					},
					report_date: {
						required: "Need to update data"
					}
				},
				errorElement: 'span',
				errorPlacement: function(error, element) {
					error.addClass('invalid-feedback');
					element.closest('.col-md-4').append(error);
				},
				highlight: function(element, errorClass, validClass) {
					$(element).addClass('is-invalid');
				},
				unhighlight: function(element, errorClass, validClass) {
					$(element).removeClass('is-invalid');
				}
			});
		});
		</script>
		<script>
		function renderDeviceOptions(devices) {
			for (let i = 0; i < devices.length; i++) {
				var option = createDeviceOption(devices[i], "device");
				$("#select_device").append(option);
			}
		}

		function createDeviceOption(device, inClass) {
			var option = $("<option value='" + device.id + "' class='" + inClass + "'>" + device.deviceName + "</option>");
			option.data("device", device);
			return option;
		}

		function clearDeviceOption() {
			$("#select_device").find(".device").each(function() {
				$(this).remove();
			});
		}

		function enableDeviceSelection() {
			$("#select_device").prop("disabled", false);
		}

		function disableDeviceSelection() {
			$("#select_device").prop("disabled", true);
		}

		function getSiteId() {
			return $("#select_site").val();
		}

		function getDeviceId() {
			return $("#select_device").val();
		}

		function renderChart(device, chartData) {
			var reportContainer = $("#container");
			var chartContainer = $("<div id='highchart' class='chart lineChart'></div>");
			reportContainer.empty();
			reportContainer.append(chartContainer);

			window.chartData = chartData;

			var maxCategory = 24 * 60 / 5;
			var startDate = moment().startOf('day');
			var categoryValues = [];
			for (var i = 0; i < maxCategory; i++) {
				// var row = chartData[i];
				var categoryValue = startDate.format("HH:mm");
				// if (categoryValues.indexOf(categoryValue) < 0) {
					categoryValues.push(categoryValue);
					startDate.add(5, 'minutes');
				// }
			}
			// categoryValues.sort();

			var categoryNames = [];
			var categoryIndexes = {};
			for (var i = 0; i < categoryValues.length; i++) {
				var categoryValue = categoryValues[i];
				categoryIndexes[categoryValue] = i;
				categoryNames[i] = categoryValue;
			}

			var series = [];
			var seriesByName = {};
			for (var i = 0; i < chartData.length; i++) {
				var row = chartData[i];
				var categoryValue = row.logTime;
				var serieName = row.logDate;
				var serie = seriesByName[serieName];
				if (serie == null) {
					serie = {
						name: serieName,
						value: serieName,
						negativeColor: 'red',
						threshold: device.alarmValue
					}
					serie.data = new Array(categoryValues.length);
					for (var j = 0; j < serie.data.length; j++)
						serie.data[j] = null;
					seriesByName[serieName] = serie;
					series.push(serie);
				}
				serie.data[categoryIndexes[categoryValue]] = parseInt(row.value);
			}

			var chartOptions = {
				chart: {
					"type": "line",
					renderTo: 'highchart',
				},
				title: {
					text: device.deviceName,
				},
				xAxis: {
					categories: categoryValues
				},
				yAxis: {
					title: {
						text: '[[#{watersensor_his.value}]]' // tile of Y
					},
					plotLines: [{
						label: {
							text: 'Threshold',
							x: 15,
							y: -10
						},
						color: 'orange',
						width: 2,
						dashStyle: 'longdashdot',
						value: device.alarmValue
					}]
				},
				tooltip: {
					valueSuffix: 'mm'
				},
				legend: {
					layout: 'vertical',
					align: 'right',
					verticalAlign: 'middle',
					borderWidth: 0
				},
				series: series
			};
			return new Highcharts.Chart(chartOptions);
		}

		var chart = null;

		function loadChartData(siteId, deviceId, start, end) {
			if (!siteId || !deviceId || !start || !end)
				return;
			$.ajax({
					method: "GET",
					url: "/api/dtwatersensor/chart",
					data: {
						siteId: siteId,
						deviceId: deviceId,
						start: start,
						end: end
					}
				})
				.done(function(data) {
					var selectedDeviceOption = $("#select_device").find("option:selected");
					var selectedDevice = selectedDeviceOption.data("device");
					chart = renderChart(selectedDevice, data);
				});
		}

		$("#select_site").change(function() {
			var siteId = getSiteId();
			if (!siteId) {
				clearDeviceOption();
				disableDeviceSelection();
				return;
			}
			$.ajax({
					method: "GET",
					url: "/api/device/chart/find",
					data: {
						siteId: siteId,
						deviceType: "Watersensor"
					}
				})
				.done(function(devices) {
					clearDeviceOption();
					renderDeviceOptions(devices);
					enableDeviceSelection();
				});
		});

		$("#inputForm0").submit(function(e) {
			e.preventDefault();
			var siteId = getSiteId();
			var deviceId = getDeviceId();
			var reportDate = $("#report_date").val();
			if (!siteId || !reportDate)
				return null;
			reportDate = reportDate.split(" - ");
			var start = reportDate[0];
			var end = reportDate[1];
			loadChartData(siteId, deviceId, start, end);
			return false;
		});
		</script>
	</div>
</body>

</html>