<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<th:block th:replace="/layout_header.html :: head_tag" />
</head>

<body>
	Hà nội
	</br>
	<input type="number" id="hn">
	</br>
	Hải Phòng
	</br>
	<input type="number" id="hp">
	</br>
	Thành Phố Hồ Chí Minh
	</br>
	<input type="number" id="hcm">
	</br>
	Đà Nẵng
	</br>
	<input type="number" id="dn">
	</br>
	Vinh
	</br>
	<input type="number" id="v">
	</br>
	<input type="button" value="thêm" onclick="themoi()">
	<div id="container"
		style="width: 1000px; height: 600px; margin: 0 auto">
	</div>
	<th:block th:replace="layout_footer.html :: footer_tag" />
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script th:inline="javascript">
       
     
        	var stompClient = null;
            var data = /*[[${data}]]*/;
            var categorie = [];
            var city = [];
            var hn =[], hp=[],hcm=[],dn=[], v=[];
            (function setdata(){
            	data.forEach(element => {
            		hn.push(element.value1);
            		hp.push(element.value2);
            		hcm.push(element.value3);
            		dn.push(element.value4);
            		v.push(element.value5);
					var tmp = new Date(Date.parse(element.editDate));
                	let horizontal = ''+tmp.getHours()+':' + tmp.getMinutes();
                	categorie.push(horizontal);
            	});
            	city.push({name:"Hà Nội",data: hn});
            	city.push({name:"Hải Phòng",data: hp});
            	city.push({name:"Thành Phố Hồ Chí Minh",data: hcm});
            	city.push({name:"Đà Nắng",data: dn});
            	city.push({name:"Vinh",data: v});
            })();
        	const chart = Highcharts.chart('container',{
                title: {
                    text: 'Temperature', // titile của biểu đồ cái này không quan trọng
                    x: -20 //center chưa rõ tính năng
                },
                subtitle: {
                    text: 'Source: WorldClimate.com', // cái này  cũng không quan trọng
                    x: -20
                },
                xAxis: {
                    categories: categorie
                },
                yAxis: {
                    title: {
                        text: 'Temperature (°C)' // tile của trục tung
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                    valueSuffix: '°C'
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                series: city
            });

            function connect() {
                var socket = new SockJS('/ws');
                stompClient = Stomp.over(socket);

                stompClient.connect({}, onConnected, onError);
            }
            connect();

            function onConnected() {
                // Subscribe to the Public Topic
                stompClient.subscribe('/topic/publicChatRoom', onMessageReceived);
            }


            function onError(error) {
                
            }

            function onMessageReceived(payload) {
                var message = JSON.parse(payload.body);
                console.log(message);
                var message = JSON.parse(payload.body);
            	if(chart.series[0].data[0] != undefined && chart.series[0].data[0].length > 10 ){
            		chart.series[0].data[0].remove();
                	/* chart.series[1].data[0].remove();
                	chart.series[2].data[0].remove();
                	chart.series[3].data[0].remove();
                	chart.series[4].data[0].remove(); */
            	}
            	if(chart.series[1].data[0] != undefined  && chart.series[0].data[0].length > 10){
            		chart.series[1].data[0].remove();
            	}
            	if(chart.series[2].data[0] != undefined  && chart.series[2].data[0].length > 10){
            		chart.series[2].data[0].remove();
            	}
            	if(chart.series[3].data[0] != undefined  && chart.series[3].data[0].length > 10){
            		chart.series[3].data[0].remove();
            	}
            	if(chart.series[4].data[0] != undefined  && chart.series[4].data[0].length > 10){
            		chart.series[4].data[0].remove();
            	}
            	var tmp = new Date(Date.parse(message.editDate));
            	let horizontal = ''+tmp.getHours()+':' + tmp.getMinutes();
	           	chart.xAxis[0].categories.push(horizontal);
	           	chart.update({
	           	  xAxis: {
	           	    categories: chart.xAxis[0].categories
	           	  },
	           	});
            	chart.series[0].addPoint(message.value1);
            	chart.series[1].addPoint(message.value2);
            	chart.series[2].addPoint(message.value3);
            	chart.series[3].addPoint(message.value4);
            	chart.series[4].addPoint(message.value5);
            }
     
        function themoi() {
            var hn = $("#hn").val();
            var hp = $("#hp").val();
            var dn = $("#dn").val();
            var hcm = $("#hcm").val();
            var v = $("#v").val();
            if(hn == "" || hp == ""|| dn == ""||hcm==""|| v==""){
            	alert("hãy nhập số");
            	return;
            }
            var dt = new Date();
            var data = {
            	value1 : hn,
            	value2 : hp,
            	value3 : dn,
            	value4 : hcm,
            	value5 : v,
            	editDate :dt
            };
            stompClient.send("/app/chat.sendMessage", {}, JSON.stringify(data));
        }
    </script>
</body>

</html>