<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:replace="/layout_header.html :: head_tag" />

</head>
<style type="text/css">
	#container{
		background-color: #FFFFFF;
		width: 100% !important;
	}
</style>
<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">

		<th:block th:replace="/layout_menu.html :: menu_tag" />

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0 text-dark">Thống kê thiết bị</h1>
						</div>
						<!-- /.col -->
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item active">Dashboard v1</li>
							</ol>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- /.content-header -->
			<!--main content  -->
			<div style="width: 1800px" id="table">
				<div style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; grid-template-rows: 1fr; border: 2px solid #F0EAEA;gap: 1px 1px;">
				<div style="border: 3px solid #F0EAEA;">relationKey</div>
				<div style="border: 3px solid #F0EAEA;">time</div>
				<div style="border: 3px solid #F0EAEA;">siteCode</div>
				<div style="border: 3px solid #F0EAEA;">deviceCode</div>
				<div style="border: 3px solid #F0EAEA;">di0</div>
				<div style="border: 3px solid #F0EAEA;">di1</div>
				<div style="border: 3px solid #F0EAEA;">di2</div>
				<div style="border: 3px solid #F0EAEA;">di3</div>
				<div style="border: 3px solid #F0EAEA;">di4</div>
				<div style="border: 3px solid #F0EAEA;">di5</div>
				<div style="border: 3px solid #F0EAEA;">di6</div>
				<div style="border: 3px solid #F0EAEA;">di7</div>
				<div style="border: 3px solid #F0EAEA;">di8</div>
				<div style="border: 3px solid #F0EAEA;">di9</div>
				<div style="border: 3px solid #F0EAEA;">di10</div>
				<div style="border: 3px solid #F0EAEA;">di11</div>
				<div style="border: 3px solid #F0EAEA;">di12</div>
				<div style="border: 3px solid #F0EAEA;">di13</div>
				<div style="border: 3px solid #F0EAEA;">di14</div>
				<div style="border: 3px solid #F0EAEA;">di15</div>
				</div>
			</div>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<th:block th:replace="admin/admin_footer.html :: admin_footer"/>

		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>
		<th:block th:replace="layout_footer.html :: footer_tag" />
		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/exporting.js"></script>
		<script th:inline="javascript">
			
			var data = /*[[${data}]]*/;
			
			function setTable(element){
				var str = "<div style=\"display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; grid-template-rows: 1fr; border: 2px solid #F0EAEA;gap: 1px 1px;\">"
				+"<div style=\"border: 3px solid #F0EAEA;\">"+element.relationKey+"</div>"
				+"<div style=\"border: 3px solid #F0EAEA;\">"+element.time+"</div>"
				+"<div style=\"border: 3px solid #F0EAEA;\">"+element.siteCode+"</div>"
				+"<div style=\"border: 3px solid #F0EAEA;\">"+element.deviceCode+"</div>"
				+"<div style=\"border: 3px solid #F0EAEA;\">"+getType(element.di0)+"</div>"
				+"<div style=\"border: 3px solid #F0EAEA;\">"+getType(element.di1)+"</div>"
				+"<div style=\"border: 3px solid #F0EAEA;\">"+getType(element.di2)+"</div>"
				+"<div style=\"border: 3px solid #F0EAEA;\">"+getType(element.di3)+"</div>"
				+"<div style=\"border: 3px solid #F0EAEA;\">"+getType(element.di4)+"</div>"
				+"<div style=\"border: 3px solid #F0EAEA;\">"+getType(element.di5)+"</div>"
				+"<div style=\"border: 3px solid #F0EAEA;\">"+getType(element.di6)+"</div>"
				+"<div style=\"border: 3px solid #F0EAEA;\">"+getType(element.di7)+"</div>"
				+"<div style=\"border: 3px solid #F0EAEA;\">"+getType(element.di8)+"</div>"
				+"<div style=\"border: 3px solid #F0EAEA;\">"+getType(element.di9)+"</div>"
				+"<div style=\"border: 3px solid #F0EAEA;\">"+getType(element.di10)+"</div>"
				+"<div style=\"border: 3px solid #F0EAEA;\">"+getType(element.di11)+"</div>"
				+"<div style=\"border: 3px solid #F0EAEA;\">"+getType(element.di12)+"</div>"
				+"<div style=\"border: 3px solid #F0EAEA;\">"+getType(element.di13)+"</div>"
				+"<div style=\"border: 3px solid #F0EAEA;\">"+getType(element.di14)+"</div>"
				+"<div style=\"border: 3px solid #F0EAEA;\">"+getType(element.di15)+"</div>"
				+"</div>";
				return str;
			}
			function getType(i){
				//if(i == '')
				switch(i) {
				  case '1':
				    return 'on';
				  case '0':
				    return 'off';
				  default:
					  return '';
				}
			}
			function innerTbale(){
				for(let i=0; i < data.length; i++){
					console.log(setTable(data[i]));
					$("#table").append(setTable(data[i]));
				}
			}
			innerTbale();
		</script>

	</div>
</body>
</html>