<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<th:block th:replace="/layout_header.html :: head_tag" />
	<link rel="stylesheet" href="/css/user_manager.css" type="text/css">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
	<div class="wrapper">

		<th:block th:replace="/layout_menu.html :: menu_tag" />
		<div class="content-wrapper">
			<div class="content-header">
				<div class="container-fluid">
					<div class="row mb-2">
						<div class="col-sm-6">
							<h1 class="m-0 text-dark" th:text="#{user.title}"></h1>
						</div>
						<div class="col-sm-6">
							<ol class="breadcrumb float-sm-right">
								<li class="breadcrumb-item">
									<a href="/user" th:text="#{home}"></a>
								</li>
								<li class="breadcrumb-item active" th:text="#{user.title}"/>
							</ol>
						</div>
					</div>
				</div>
			</div>
			<section class="content">
				<div class="container-fluid">
					<div class="card card-default">
						<div class="card-header">
							<h3 class="card-title" th:text="#{user.info}"></h3>
						</div>
						<form class="form-horizontal" id="form_data">
							<div class="card-body">
								<div class="form-row">
									<div class="form-group col-md-6">
										<label for="inputUsername" th:text="#{user.username}"></label>
										<input type="text" class="form-control" id="inputUsername" placeholder="Username">
									</div>
									<div class="form-group col-md-6">
										<label for="inputPassword" th:text="#{user.password}"></label>
										<input type="password" class="form-control" id="inputPassword" placeholder="Password">
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-md-6">
										<label for="inputEmail" th:text="#{user.email}"></label>
										<input type="email" class="form-control" id="inputEmail" placeholder="Email">
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label th:text="#{user.role}"></label>
											<select id="inputRole" class="form-control select2 " multiple="multiple" data-placeholder="" style="width: 100%;">
												<option th:each="itemRole : ${roleList}" th:text="${itemRole.getRoleName()}" th:value="${itemRole.getRoleId()}"></option>
											</select>
										</div>
									</div>
								</div>
								<!--                            -->
								<div class="form-row">
									<div class="form-group col-md-6">
										<label for="inputActive" th:text="#{user.status}"></label>
										<select class="form-control" id="inputActive">
											<option value="1" th:text="#{user.status.active}"/>
											<option value="0" th:text="#{user.status.deactive}">
										</select>
									</div>
									<div class="form-group col-md-6">
										<input type="text" class="form-control invisible" id="inputAccountId">
									</div>
								</div>
							</div>
							<!-- /.card-body -->
							<div class="card-footer">
								<div class="wrap-button-control">
									<button class="btn btn-primary" id="btnCreate">
										<i class="fas fa-plus"></i>
										<span th:text="#{button.add}"></span>
									</button>
									<button class="btn btn-warning" id="btnEdit">
										<i class="far fa-edit"></i>
										<span th:text="#{button.edit}"></span>
									</button>
									<button class="btn btn-default" id="btnCopy">
										<i class="fas fa-copy"></i>
										<span th:text="#{button.copy}"></span>
									</button>
									<button class="btn btn-danger" id="btnDelete">
										<i class="far fa-trash-alt"></i>
										<span th:text="#{button.delete}"></span>
									</button>
									<button class="btn btn-success" id="btnSaveCreate" style="display: none;">
										<i class="fas fa-check-circle"></i>
										<span th:text="#{button.save}"></span>
									</button>
									<button class="btn btn-default" id="btnBackCreate" style="display: none;">
										<i class="fas fa-undo-alt"></i>
										<span th:text="#{button.back}"></span>
									</button>
									<button class="btn btn-success" id="btnSaveEdit" style="display: none;">
										<i class="fas fa-check-circle"></i>
										<span th:text="#{button.save}"></span>
									</button>
									<button class="btn btn-default" id="btnBackEdit" style="display: none;">
										<i class="fas fa-undo-alt"></i>
										<span th:text="#{button.back}"></span>
									</button>
									<button class="btn btn-success" id="btnSaveCopy" style="display: none;">
										<i class="fas fa-check-circle"></i>
										<span th:text="#{button.save}"></span>
									</button>
									<button class="btn btn-default" id="btnBackCopy" style="display: none;">
										<i class="fas fa-undo-alt"></i>
										<span th:text="#{button.back}"></span>
									</button>
								</div>
							</div>
							<!-- /.card-footer -->
						</form>
					</div>
					<!-- Main content -->
					<section class="content" id="wrap_table_data">
						<div class="container-fluid">
							<div class="row">
								<div class="col-12">
									<div class="card">
										<div class="card-header">
											<h3 class="card-title" th:text="#{user.table_info}"></h3>
										</div>
										<!-- /.card-header -->
										<div class="card-body">
											<table id="tableDataView" class="table table-bordered table-hover">
												<thead>
													<tr>
														<th>#</th>
														<th th:text="#{user.id}">ID</th>
														<th th:text="#{user.username}">Tên đăng nhập</th>
														<th th:text="#{user.email}">Email</th>
														<th th:text="#{user.role}">Quyền</th>
														<th th:text="#{user.status}">Kích hoạt</th>
														<th th:text="#{user.created_date}">Ngày tạo</th>
														<th th:text="#{user.edit_date}">Ngày sửa</th>
														<th>activeJson</th>
														<th>roleJson</th>
													</tr>
												</thead>
												<tbody>
												</tbody>
											</table>
										</div>
										<!-- /.card-body -->
									</div>
									<!-- /.card -->
								</div>
								<!-- /.col -->
							</div>
							<!-- /.row -->
						</div>
						<!-- /.container-fluid -->
					</section>
				</div>
			</section>
			<div class="popup-loading">
				<div class="wrapper-loading">
					<div class="sub-wrapper-loading">
						<div class="d-flex justify-content-center">
							<div class="spinner-border" role="status">
								<span class="sr-only" th:text="#{action.loading}">Loading...</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Control sidebar content goes here -->
		</aside>
		<th:block th:replace="layout_footer.html :: footer_tag" />
		<script src="/js/user.js"></script>
	</div>
</body>
</html>