<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="layout_header.html :: head_tag" />
    <link rel="stylesheet" href="/css/manager_of_outputs.css" type="text/css">
    <title>Quản lý Các kết quả đầu ra của các yếu tố theo trạm</title>
    <style>
        .legend-normal {
            margin-left: 1em;
            padding: 5px;
            width: auto;
            font-size: inherit;
            font-weight: bold;
        }

        .fieldset-normal {
            border: 1px gray solid;
            padding: 10px;
        }

        .btn-100 {
            width: 100px;
        }
        .hide-col {
            display: none;
        }
    </style>
</head>

<body  class="hold-transition sidebar-mini layout-fixed text-sm">
<div class="wrapper">

    <th:block th:replace="layout_menu.html :: menu_tag" />
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container-fluid">
                <div class="card card-default">
                    <div class="card-header">
<!--                        <h4>Quản lý Các kết quả đầu ra của các yếu tố theo trạm</h4>-->
                    </div>
                    <div class="container-fluid">
                        <div class="row content" style="width: 100%">
                            <div class="col-sm-12" id="box_search">
                                <div class="card-header">
                                    <h5 style="text-align: center"><b>Quản lý Các kết quả đầu ra của các yếu tố theo trạm</b></h5>
                                </div>
                                <br/>
                                <form class="form-horizontal" id="form_data">
                                    <div class="form-row" id ="search_users" style="display: none">
                                        <div class="form-group col-md-6">
                                            <label for="code_search">Mã người dùng</label>
                                            <div class="input-group">
                                            <input type="text" class="form-control" id="code_search"
                                                   placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="Username_search">Username</label>
                                            <input type="text" class="form-control" id="Username_search"
                                                   placeholder="">
                                        </div>
                                    </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="stations_search">Trạm</label>
                                                <div class="input-group">
                                                    <select class="form-control" id="stations_search" style="width: 100%" onchange="onchage_stations_select();"></select>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="parameter_search">Yếu tố</label>
                                                <div class="input-group">
                                                    <select class="form-control" id="parameter_search" style="width: 100%"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="start_date">Từ ngày</label>
                                            <input type="text" class="form-control" id="start_date" placeholder="" autocomplete="off">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="end_date">Đến ngày</label>
                                            <input type="text" class="form-control" id="end_date" autocomplete="off" placeholder="">
                                        </div>
                                    </div>
                                </form>
                                <div class="wrap-button-control">
                                    <button class="btn btn-primary" id="btnSearch" style="width:100px;">
                                        <i class="fas fa-search"></i> Tìm kiếm
                                    </button>
                                    <button class="btn btn-primary"  id="btnDelete" style="width:100px;display: none">
                                        <i class="fas fa-trash-alt"></i> Xóa
                                    </button>
                                    <button class="btn btn-primary" id="btnImport" style="width:100px;">
                                        <i class="fas fa-file-upload"></i> Import
                                    </button>
                                    <button class="btn btn-primary" id="btnExport" style="width:100px;">
                                        <i class="fas fa-file-download"></i> Export
                                    </button>
                                </div>
                                <div class="card-body" style="width: 100%;overflow: auto">
                                    <table id="tableDataView" class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th data-id="s_stt" is_select ="1">#</th>
                                            <th data-id="s_action" is_select ="1">Thao tác</th>
                                            <th data-id="s_warning" is_select ="1">Cảnh báo</th>
                                            <th data-id="s_area">Khu vực</th>
                                            <th data-id="s_station_type">Loại trạm</th>
                                            <th data-id="s_stations_no">Mã trạm</th>
                                            <th data-id="s_stations" >Trạm</th>
                                            <th data-id="s_valuetype_id">Yếu tố</th>
                                            <th data-id="s_reponse">Kết quả đo</th>
                                            <th data-id="s_timereponse" is_select ="1">Thời gian đo</th>
                                            <th data-id="s_user_create">Người cập nhật</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                    </div>
                    <div class="col-sm-12" id="box_edit" style="display: none">
                        <div style="width: 100%;float: right">
                            <fieldset class="fieldset-normal">
                                <legend class="legend-normal">Chỉnh sửa dữ liệu đầu ra</legend>
                                <div class="form-horizontal" id="form_input">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="arial">Khu vực</label>
                                            <input disabled="true" type="text" class="form-control" id="arial"  maxlength="100" placeholder="">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="station_type">Loại trạm</label>
                                            <input disabled="true" type="text" class="form-control" id="station_type"  maxlength="100" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="tram">Trạm</label>
                                            <input disabled="true" type="text" class="form-control" id="tram"  maxlength="100" placeholder="">
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="parameter">Yếu tố</label>
                                            <input disabled="true" type="text" class="form-control" id="parameter"  maxlength="100" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <label for="value">Kết quả đầu ra <span style="color: red;">*</span></label>
                                            <input type="number"  class="form-control" id="value" placeholder="">
                                            <span id="cap_error" class="help-block" style="color: red"></span>
                                        </div>
                                        <div class="form-group col-md-6"></div>
                                    </div>
                                </div>
                                <div class="wrap-button-control" id="div-btn" style="margin-top: 15px;">
                                    <button class="btn btn-primary btn-100" id="btn-save">
                                        <i class="fas fa-plus"></i> Lưu
                                    </button>
                                    <button class="btn btn-primary btn-100" id="btn-cancle">
                                        <i class="fas fa-times"></i> Hủy
                                    </button>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>

                <div class="popup-loading">
                    <div class="wrapper-loading">
                        <div class="sub-wrapper-loading">
                            <div class="d-flex justify-content-center">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only" th:text="#{action.loading}">Loading...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
</div>
</body>
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<th:block th:replace="layout_footer.html :: footer_tag" />
<script type="text/javascript">
    var apiUrl = "[[${session.apiUrl}]]";
    var userBO = "[[${session.userBO}]]";
    var username = "[[${session.userBO.Username}]]";
    var token = "[[${session.token}]]";
</script>
<script src="/js/manage_outputs.js"></script>

</html>