
.popup-video {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1050;
    overflow: auto;
    /*background-color: rgba(0, 0, 0, 0.4);*/
    background-color: #fff;
    opacity: 0;
    transition: opacity 1s ease-out;
}

.popup-video .container-fluid {
    height: 100%;
    padding: 0 1em;
}

#canvasFullScreen {
    width: 100%;
    height: auto;
}

.close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

.container-close {
    height: 2em;
    display: block;
}

.full-video {
    /*background-color: #000;*/
    background: none;
    width: 100%;
    height: 300px;
}

.video-item {
    width: 100%;
    height: 300px;
    margin: 0.5em;
    color: #fff;
    text-align: center;
    align-content: center;
    cursor: pointer;
}

.site-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

@media (min-width: 576px) {
    .site-left {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
    }
}

/*    style remote control*/
.remote {
    width: 12.5em;
    height: 12.5em;
    border-radius: 50%;
    overflow: hidden;
}
.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    justify-content: space-around;
}

.flex-item:hover{
	background: #c2f0c2;
}

.flex-item {
    background: #ECECEC;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    flex: 1 0;
    height:auto;
    cursor: pointer;
}
.flex-item:before {
    content:'';
    float:left;
    padding-top:100%;
}

.btn-wrap-enter {
    position: relative;
}

.wrap-enter-1 {
    position: absolute;
    top: -50%;
    left: 21%;
    width: 58%;
    height: 200%;
    background-color: #2A99C6;
    z-index: 11;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrap-enter-2 {
    background-color: #ECECEC;
    width: 95%;
    height: 95%;
    border-radius: 50%;
}

.minus, .plus {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #2A99C6;
}

.remote-control-data {
    font-size: 0.7em;
    cursor: pointer;
}

.flex-item:active:hover {
	background: #99e699;
}

.remote-control-data:active:hover  {
    font-size: 0.7em;
    cursor: pointer;
    color: while;
}

.remote-down span {
    color: #2A99C6;
    position: absolute;
    top: 60%;
    left: 47%;
    z-index: 12;
}

.remote-top span {
    color: #2A99C6;
    position: absolute;
    top: 20%;
    left: 47%;
    z-index: 12;
}

.remote-top-left span {
    color: #2A99C6;
    position: absolute;
    top: 50%;
    left: 22%;
    z-index: 12;
}

.remote-top-right span {
    color: #2A99C6;
    position: absolute;
    top: 50%;
    right: 22%;
    z-index: 12;
}

.remote-left span {
    color: #2A99C6;
    position: absolute;
    top: 40%;
    left: 12%;
    z-index: 12;
}

.remote-right span {
    color: #2A99C6;
    position: absolute;
    top: 40%;
    left: 82%;
    z-index: 12;
}

.remote-bottom-right span {
    color: #2A99C6;
    position: absolute;
    top: 30%;
    left: 71%;
    z-index: 12;
}

.remote-bottom-left span {
    color: #2A99C6;
    position: absolute;
    top: 30%;
    left: 21%;
    z-index: 12;
}
/*    end style remote control*/

/* style iframe */
.card-camera img {
    width: 100%;
    height: 100%;
}

#canvasFullScreen > img {
	width: 100%;
    height: 100%;
}

.card-camera {
    padding: 0 0 8px 0 !important;
    position: relative !important;
}

.overlay-handle-click {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
}

/* end style iframe */





/*new line*/
.show-list-device {
    margin-top: 1em;
}

.show-list-device ul {
    list-style-type: none;
}

.show-list-device ul li {
    margin-top: 10px;
}

.show-list-device ul li div {
    background-color: red;
    color: white;
    border: 1px solid red;
    padding: 10px 5px;
}
/*end new line*/


/*start style iframe */
.fancy-zoom {
	width: 100%;
	height: auto;
}
/*end  style iframe */



#canvas {
    width: 100%;
    height: auto;
}

