.center-image {
	z-index: 1000;
	margin: 200px auto;
	width: 140px;
	border-radius: 10px;
	filter: alpha(opacity = 100);
	opacity: 1;
	-moz-opacity: 1;
}

.center-image img {
	height: 100px;
	width: 100px;
}

body.loading {
	overflow: hidden;
}

body.loading .modal {
	display: block;
}