.legend-normal {
    margin-left: 1em;
    padding: 5px;
    width: auto;
    font-size: inherit;
    font-weight: bold;
}

.fieldset-normal {
    border: 1px gray solid;
    padding: 10px;
}

.btn-100 {
    width: 100px;
}
.hide-col {
    display: none;
}
.wrap-button-control {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.wrap-button-control button {
    margin: 0.5em 1em 0.5em 1em;
}

.popup-loading {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 1050;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 1.5s ease-out;
}

.wrapper-loading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
}

.sub-wrapper-loading {
    text-align: center;
}
.button-crud {
    text-align: center;
}
.wrap-table-data {
    margin-top: 1em;
}

.select2-container .select2-selection--single{
    height: calc(2.25rem + 2px) !important;
}