.popup-loading {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 1050;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 1.5s ease-out;
}

.wrapper-loading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
}

.sub-wrapper-loading {
    text-align: center;
}

.wrap-button-control {
    text-align: center;
}