.wrap-button-control {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.wrap-button-control button {
    margin: 0.5em 1em 0.5em 1em;
}

.popup-loading {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    z-index: 1050;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 1.5s ease-out;
}

.wrapper-loading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
}

.sub-wrapper-loading {
    text-align: center;
}
.button-crud {
    text-align: center;
}
.wrap-table-data {
    margin-top: 1em;
}
.tscroll {
    height: 397px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
    margin-bottom: 10px;}

.tscroll table td:first-child {
    background: #dddddd;
    position: sticky;
    left: 0; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
 }

.tscroll td, .tscroll th {
    border-bottom: dashed #888 1px;
}

table {
    text-align: left;
    position: relative;
    border-collapse: collapse;
}
th, td {
    padding: 0.25rem;
}
th {
    background: #dddddd;
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

.err_msg{
    color: red;
}