<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="global_import_js" th:remove="tag">
	<script type="text/javascript">
		var apiUrl = "[[${session.apiUrl}]]";
		var userBO = "[[${session.userBO}]]";
		var token = "[[${session.token}]]";
		console.log(apiUrl + "|" + JSON.stringify(userBO) + "|" + token);
		var global = {
			loadElement : function (idElement){
				arr = [];
				$("#"+ idElement +" :input").each(function(){
					let key = $(this).attr("id") + "";
					let value = $(this).val();
					let item = {key  : value};
					arr.push(item);
				});
				return arr;
			}
		}
	</script>
</head>
</html>