<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="layout_header.html :: head_tag"/>
	<link rel="stylesheet" href="/css/index.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

	<th:block th:replace="layout_menu.html :: menu_tag" />
	<div class="content-wrapper">
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
				</div>
			</div>
		</div>
        <section class="content">
            <div class="container-fluid">
                <!-- Main row -->
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-9">
                        <p>Dữ liệu bản đồ</p>
                        <section class="wrapper-station">
                            <div class="card card-primary card-tabs card-map">
                                <div class="card-header p-0 pt-1">
                                    <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="pill" href="#KTTD" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">
                                                Khí tượng
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="pill" href="#TV" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">
                                                Thuỷ văn
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link"  data-toggle="pill" href="#KTHV" role="tab" aria-controls="custom-tabs-one-messages" aria-selected="false">
                                                Hải văn
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link"  data-toggle="pill" href="#DM" role="tab" aria-controls="custom-tabs-one-settings" aria-selected="false">
                                                Độ mặn
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <div class="tab-content">
                                        <div class="tab-pane fade show active wrap-map" id="KTTD" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
                                            <iframe sandbox="allow-same-origin allow-scripts allow-popups allow-forms" src="/report/station-embedded?type=KTTD"
                                                    style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:100%;width:100%;position:absolute;top:0px;left:0px;right:0px;bottom:0px" height="100%" width="100%" frameborder="0"
                                                    allowfullscreen>
                                            </iframe>
                                        </div>
                                        <div class="tab-pane fade box-chart wrap-map" id="TV" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
                                            <iframe sandbox="allow-same-origin allow-scripts allow-popups allow-forms" src="/report/station-embedded?type=TV"
                                                    style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:100%;width:100%;position:absolute;top:0px;left:0px;right:0px;bottom:0px" height="100%" width="100%" frameborder="0"
                                                    allowfullscreen>
                                            </iframe>
                                        </div>
                                        <div class="tab-pane fade box-chart wrap-map" id="KTHV" role="tabpanel" aria-labelledby="custom-tabs-one-messages-tab">
                                            <iframe sandbox="allow-same-origin allow-scripts allow-popups allow-forms" src="/report/station-embedded?type=KTHV"
                                                    style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:100%;width:100%;position:absolute;top:0px;left:0px;right:0px;bottom:0px" height="100%" width="100%" frameborder="0"
                                                    allowfullscreen>
                                            </iframe>
                                        </div>
                                        <div class="tab-pane fade box-chart wrap-map" id="DM" role="tabpanel" aria-labelledby="custom-tabs-one-settings-tab">
                                            <iframe sandbox="allow-same-origin allow-scripts allow-popups allow-forms" src="/report/station-embedded?type=DM"
                                                    style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:100%;width:100%;position:absolute;top:0px;left:0px;right:0px;bottom:0px" height="100%" width="100%" frameborder="0"
                                                    allowfullscreen>
                                            </iframe>
                                        </div>
                                    </div>
                                </div>
                            </div></section>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-3">
                        <p>Thông tin tổng hợp</p>
                        <div class="card card-primary card-tabs card-news-feed">
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="row wrap-news-feed">
                                        <div class="col-sm-12">
                                            <!-- small box -->
                                            <div class="small-box bg-light container">
                                                <div class="row">
                                                    <div class="col-sm-3 icon-warning">
                                                        <i class="fas fa-smog"></i>
                                                    </div>
                                                    <div class="col-sm-9 description-waring">
                                                        <p class="warning-name">
                                                            <i class="fas fa-circle" style="color: #de2900;"></i>
                                                            Cảnh báo dữ liệu sai
                                                        </p>
                                                        <p class="warning-desc">
                                                            Mô tả cảnh báo xxxx
                                                        </p>
                                                    </div>
                                                </div>
                                                <div>
                                                    <p class="warning-content">
                                                        Dữ liệu sai ở nhiều chỗ chưa được chỉnh sửa, vui lòng chỉnh sửa lại cho nó xịn thêm một tí
                                                    </p>
                                                </div>
                                                <div>
                                                    <p class="warning-date">
                                                        Ngày 27/10/2020
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ./col -->
                    </div>
                </div>
                <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>

<th:block th:replace="layout_footer.html :: footer_tag"/>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="/admin_lte/dist/js/pages/dashboard.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/admin_lte/dist/js/demo.js"></script>
</body>
</html>
