<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head_tag" th:remove="tag">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Admin Dash</title>
	<meta name="viewport" content="width = device-width, initial-scale = 1.0, minimum-scale = 1, maximum-scale = 1, user-scalable = no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<link rel="stylesheet" href="/admin_lte/plugins/fontawesome-free/css/all.min.css">
	<link rel="stylesheet" href="/admin_lte/dist/css/ionicons.min.css">
	<link rel="stylesheet" href="/admin_lte/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
	<link rel="stylesheet" href="/admin_lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
	<link rel="stylesheet" href="/admin_lte/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/admin_lte/dist/css/adminlte.min.css">
	<link rel="stylesheet" href="/admin_lte/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
	<link rel="stylesheet" href="/admin_lte/plugins/daterangepicker/daterangepicker.css">
	<link href="/admin_lte/dist/css/font_google.css" rel="stylesheet">
	<link rel="stylesheet" href="/admin_lte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
	<link rel="stylesheet" href="/admin_lte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
	<link rel="stylesheet" href="/admin_lte/plugins/datatables-select/css/select.bootstrap4.min.css">
	<link rel="stylesheet" href="/admin_lte/plugins/datatables-checkbox/dataTables.checkboxes.css">
	<link rel="stylesheet" href="/admin_lte/plugins/select2/css/select2.min.css">
	<link rel="stylesheet" href="/admin_lte/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
	<link rel="stylesheet" href="/admin_lte/plugins/toastr/toastr.min.css">
	<style>
		input[aria-controls=tableDataView] {
			display: none;
		}
	</style>
</head>
</html>