<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="layout_header.html :: head_tag" />
    <link rel="stylesheet" href="/css/menu_manage.css" type="text/css">
    <title>Quản lý menu</title>
</head>
<body class="hold-transition sidebar-mini layout-fixed text-sm">
<div class="wrapper">

    <th:block th:replace="layout_menu.html :: menu_tag" />
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                </div>
            </div>
        </div>
        <section class="content">
            <div class="container-fluid">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Quản lý menu</h3>
                    </div>
                    <form class="form-horizontal" id="form_data" autocomplete="off">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputMenuName">Tên menu</label>
                                    <input type="text" class="form-control" id="inputMenuName" placeholder="Tên Menu">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputDisplayOrder">Độ ưu tiên</label>
                                    <input type="number" class="form-control" id="inputDisplayOrder"
                                           placeholder="Độ ưu tiên">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputPictureFile">Icon</label>
                                    <select  id="inputPictureFile" class="select2bs4 form-control">
                                        <option value="fas fa-book">
                                            fas fa-book
                                        </option>
                                        <option value="fas fa-globe-asia">
                                            fas fa-globe-asia
                                        </option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label for="inputDetailFile">Đường dẫn</label>
                                    <input type="text" class="form-control" id="inputDetailFile" placeholder="Đường dẫn">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputParentId">Menu cha</label>
                                    <select  id="inputParentId" class="select2bs4 form-control">
                                    </select>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputPublish">Trạng thái</label>
                                    <select id="inputPublish" class="form-control">
                                        <option value="1">Có hiệu lực</option>
                                        <option value="0">Vô hiệu hoá</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control invisible" id="inputMenuId" placeholder="menuId">
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <div class="wrap-button-control">
                                <button class="btn btn-primary" id="btnCreate">
                                    <i class="fas fa-plus"></i> Thêm
                                </button>
                                <button class="btn btn-primary" id="btnEdit">
                                    <i class="far fa-edit"></i> Sửa
                                </button>
                                <button class="btn btn-primary" id="btnCopy">
                                    <i class="fas fa-copy"></i> Sao chép
                                </button>
                                <button class="btn btn-primary" id="btnDelete">
                                    <i class="far fa-trash-alt"></i> Xoá
                                </button>
                                <button class="btn btn-primary" id="btnSaveCreate" style="display: none;">
                                    <i class="fas fa-check-circle"></i> Lưu lại
                                </button>
                                <button class="btn btn-primary" id="btnBackCreate" style="display: none;">
                                    <i class="fas fa-undo-alt"></i> Quay lại
                                </button>
                                <button class="btn btn-primary" id="btnSaveEdit" style="display: none;">
                                    <i class="fas fa-check-circle"></i> Lưu lại
                                </button>
                                <button class="btn btn-primary" id="btnBackEdit" style="display: none;">
                                    <i class="fas fa-undo-alt"></i> Quay lại
                                </button>
                                <button class="btn btn-primary" id="btnSaveCopy" style="display: none;">
                                    <i class="fas fa-check-circle"></i> Lưu lại
                                </button>
                                <button class="btn btn-primary" id="btnBackCopy" style="display: none;">
                                    <i class="fas fa-undo-alt"></i> Quay lại
                                </button>
                            </div>
                        </div>
                        <!-- /.card-footer -->
                    </form>
                </div>
                <!-- Main content -->
                <section class="content" id="wrap_table_data">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Danh sách menu trong hệ thống</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <table id="tableDataView" class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>#</th>
                                                    <th data-id="s_id">ID</th>
                                                    <th data-id="s_name">Tên menu</th>
                                                    <th data-id="s_display_order">Độ ưu tiên</th>
                                                    <th data-id="s_picture_file">Icon</th>
                                                    <th data-id="s_detail_file">Đường dẫn</th>
                                                    <th data-id="s_menu_level">Cấp</th>
                                                    <th data-id="s_parent_id">Menu cha</th>
                                                    <th data-id="s_publish">Trạng thái</th>
                                                    <th data-id="s_created_date">Ngày tạo</th>
                                                    <th data-id="s_modified_date">Ngày sửa</th>
                                                    <th data-id="s_created_user">Người tạo</th>
                                                    <th data-id="s_modified_user">Người sửa</th>
                                                    <th data-id="s_sys_id">Hệ thống</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container-fluid -->
                </section>
            </div>
        </section>
        <div class="popup-loading">
            <div class="wrapper-loading">
                <div class="sub-wrapper-loading">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="sr-only" th:text="#{action.loading}">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <th:block th:replace="layout_footer.html :: footer_tag" />
    <script type="text/javascript">
        var apiUrl = "[[${session.apiUrl}]]";
        var userBO = "[[${session.userBO}]]";
        var token = "[[${session.token}]]";
        console.log(apiUrl + "|" + JSON.stringify(userBO) + "|" + token);
    </script>
    <script src="/js/menu_manage.js"></script>
</div>
</body>
</html>