<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>CSVLayer - 4.4</title>

    <style>
        html,
        body,
        #viewDiv {
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
        }
    </style>

    <link rel="stylesheet" href="https://js.arcgis.com/4.17/esri/themes/light/main.css">
    <script src="https://js.arcgis.com/4.17/"></script>
    <script type="text/javascript">
        var apiUrl = "[[${session.apiUrl}]]";
        var userBO = "[[${session.userBO}]]";
        var token = "[[${session.token}]]";
    </script>
    <script>

        require([
            "esri/Map",
            "esri/layers/CSVLayer",
            "esri/views/MapView",
            "esri/renderers/SimpleRenderer",
            "esri/renderers/UniqueValueRenderer",
            "esri/symbols/SimpleMarkerSymbol",
            "esri/symbols/PictureMarkerSymbol",
            "esri/symbols/CIMSymbol",
            "esri/config",
            "esri/layers/FeatureLayer",
            "esri/symbols/WebStyleSymbol",
            "esri/PopupTemplate",
            "esri/geometry/Extent",
            "esri/layers/TileLayer",
            "esri/widgets/LayerList",
            "esri/layers/VectorTileLayer",
            "esri/layers/GeoJSONLayer",
            "esri/layers/support/LabelClass",
            "dojo/domReady!"
        ], function (
            Map,
            CSVLayer,
            MapView,
            SimpleRenderer,
            UniqueValueRenderer,
            SimpleMarkerSymbol,
            PictureMarkerSymbol,
            CIMSymbol,
            esriConfig,
            FeatureLayer,
            WebStyleSymbol,
            PopupTemplate,
            Extent,
            TileLayer,
            LayerList,
            VectorTileLayer,
            GeoJSONLayer,
            LabelClass) {

            // If CSV files are not on the same domain as your website, a CORS enabled server
            // or a proxy is required.
            var urlStationCsv = apiUrl + "station/get-all-station-csv";
            esriConfig.request.corsEnabledServers.push(urlStationCsv);
            esriConfig.request.interceptors.push({
                urls: urlStationCsv,
                headers: {
                    "Authorization": token
                }
            });

            const urlGeoJson = "/data_map/province_vietnam_final.geojson";

            var template = new PopupTemplate({
                title: "{stationName}",
                content: "Trạng thái: {statusText}"
            });

            var centerPoint = [106.8, 16.7]

            var openSpacesRenderer = new UniqueValueRenderer({
                field: "isActive",
                defaultSymbol: new WebStyleSymbol({
                    name: "circle-3",
                    styleName: "Esri2DPointSymbolsStyle"
                })
            });

            const cimSymbol = new CIMSymbol({
                "data": {
                    "type": "CIMSymbolReference",
                    "symbol": {
                        "type": "CIMPointSymbol",
                        "symbolLayers": [
                            {
                                "type": "CIMVectorMarker",
                                "enable": true,
                                "anchorPoint": {
                                    "x": 0,
                                    "y": 0,
                                    "z": 0
                                },
                                "anchorPointUnits": "Relative",
                                "dominantSizeAxis3D": "Y",
                                "size": 10,
                                "billboardMode3D": "FaceNearPlane",
                                "frame": {
                                    "xmin": 0,
                                    "ymin": 0,
                                    "xmax": 17,
                                    "ymax": 17
                                },
                                "markerGraphics": [
                                    {
                                        "type": "CIMMarkerGraphic",
                                        "geometry": {
                                            "rings": [
                                                [
                                                    [
                                                        17,
                                                        8.5
                                                    ],
                                                    [
                                                        16.84,
                                                        6.84
                                                    ],
                                                    [
                                                        16.36,
                                                        5.25
                                                    ],
                                                    [
                                                        15.57,
                                                        3.78
                                                    ],
                                                    [
                                                        14.51,
                                                        2.49
                                                    ],
                                                    [
                                                        13.22,
                                                        1.43
                                                    ],
                                                    [
                                                        11.75,
                                                        0.64
                                                    ],
                                                    [
                                                        10.16,
                                                        0.16
                                                    ],
                                                    [
                                                        8.5,
                                                        0
                                                    ],
                                                    [
                                                        6.84,
                                                        0.16
                                                    ],
                                                    [
                                                        5.25,
                                                        0.64
                                                    ],
                                                    [
                                                        3.78,
                                                        1.43
                                                    ],
                                                    [
                                                        2.49,
                                                        2.49
                                                    ],
                                                    [
                                                        1.43,
                                                        3.78
                                                    ],
                                                    [
                                                        0.64,
                                                        5.25
                                                    ],
                                                    [
                                                        0.16,
                                                        6.84
                                                    ],
                                                    [
                                                        0,
                                                        8.5
                                                    ],
                                                    [
                                                        0.16,
                                                        10.16
                                                    ],
                                                    [
                                                        0.64,
                                                        11.75
                                                    ],
                                                    [
                                                        1.43,
                                                        13.22
                                                    ],
                                                    [
                                                        2.49,
                                                        14.51
                                                    ],
                                                    [
                                                        3.78,
                                                        15.57
                                                    ],
                                                    [
                                                        5.25,
                                                        16.36
                                                    ],
                                                    [
                                                        6.84,
                                                        16.84
                                                    ],
                                                    [
                                                        8.5,
                                                        17
                                                    ],
                                                    [
                                                        10.16,
                                                        16.84
                                                    ],
                                                    [
                                                        11.75,
                                                        16.36
                                                    ],
                                                    [
                                                        13.22,
                                                        15.57
                                                    ],
                                                    [
                                                        14.51,
                                                        14.51
                                                    ],
                                                    [
                                                        15.57,
                                                        13.22
                                                    ],
                                                    [
                                                        16.36,
                                                        11.75
                                                    ],
                                                    [
                                                        16.84,
                                                        10.16
                                                    ],
                                                    [
                                                        17,
                                                        8.5
                                                    ]
                                                ]
                                            ]
                                        },
                                        "symbol": {
                                            "type": "CIMPolygonSymbol",
                                            "symbolLayers": [
                                                {
                                                    "type": "CIMSolidStroke",
                                                    "enable": true,
                                                    "capStyle": "Round",
                                                    "joinStyle": "Round",
                                                    "lineStyle3D": "Strip",
                                                    "miterLimit": 10,
                                                    "width": 1,
                                                    "color": [
                                                        0,
                                                        0,
                                                        0,
                                                        255
                                                    ]
                                                },
                                                {
                                                    "type": "CIMSolidFill",
                                                    "enable": true,
                                                    "color": [
                                                        35,
                                                        203,
                                                        26,
                                                        255
                                                    ]
                                                }
                                            ]
                                        }
                                    }
                                ],
                                "scaleSymbolsProportionally": true,
                                "respectFrame": true
                            }
                        ],
                        "haloSize": 1,
                        "scaleX": 1,
                        "angleAlignment": "Display",
                        "version": "2.0.0",
                        "build": "8933"
                    }
                }
            });

            openSpacesRenderer.addUniqueValueInfo("1", cimSymbol);

            var csvLayer = new CSVLayer({
                url: urlStationCsv,
                copyright: "Trung tâm Khí tượng thủy văn Quốc Gia",
                renderer: openSpacesRenderer,
                popupTemplate: template,
                elevationInfo: {
                    mode: "on-the-ground"
                }
            });

            const templateGeoJson = {
                title: "Thông tin vị trí",
                content: "{name}"
            };

            const templateGeoJson2 = {
                title: "Thông tin vị trí",
                content: "{Ten_Huyen}"
            }

            const statesLabelClass = new LabelClass({
                labelExpressionInfo: { expression: "$feature.Name" },
                symbol: {
                    type: "text",  // autocasts as new TextSymbol()
                    color: "black",
                    haloSize: 1,
                    haloColor: "white",
                    font: {  // autocast as new Font()
                        size: 12,
                        weight: "bold"
                    }
                }
            });

            const statesLabelClass2 = new LabelClass({
                labelExpressionInfo: { expression: "$feature.Ten_Huyen" },
                symbol: {
                    type: "text",
                    color: "black",
                    haloSize: 1,
                    haloColor: "white"
                }
            });

            const geojsonLayer2 = new GeoJSONLayer({
                url: urlGeoJson
                // , popupTemplate: templateGeoJson
            });

            const geojsonLayer3 = new GeoJSONLayer({
                url: "/data_map/district_viet_nam_final.geojson"
                // , popupTemplate: templateGeoJson2
            });

            geojsonLayer2.labelingInfo = [statesLabelClass];
            geojsonLayer3.labelingInfo = [statesLabelClass2];

            var initialExtent = new Extent({
                "xmin": 97, "ymin": 12, "xmax": 117, "ymax": 20,
                "spatialReference": { "wkid": 4326 }
            });

            var map = new Map({
                extent: initialExtent
            });

            map.layers.add(geojsonLayer3)
            map.layers.add(geojsonLayer2)
            map.layers.add(csvLayer)

            var view = new MapView({
                container: "viewDiv",
                center: centerPoint,
                zoom: 3,
                map: map,
                extent: initialExtent
            });

            var maxExtent = view.extent;

            view.watch("extent", function (newValue, oldValue) {
                // xmin:9790772.379932635, xmax:14059016.039375741, ymin:887464.1510032088, ymax:2729290.784562326
                //console.log('xmin:' + newValue.xmin + ", xmax:" + newValue.xmax + ", ymin:" + newValue.ymin + ", ymax:" + newValue.ymax);
                if ((newValue.xmin < 9790772.379932635) || (newValue.ymin < 887464.1510032088) || (newValue.xmax > 14059016.039375741) || (newValue.ymax > 2729290.784562326)) {
                    //  console.log('here')
                    map.extent = initialExtent;
                }
            });

        });
    </script>
</head>

<body>
<div id="viewDiv"></div>
</body>

</html>