<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Thông tin trạm quan trắc</title>
    <th:block th:replace="layout_header.html :: head_tag"/>
    <link rel="stylesheet" href="/css/management-station.css" type="text/css">
</head>
<body class="hold-transition sidebar-mini layout-fixed text-sm">
<div class="wrapper">

    <th:block th:replace="layout_menu.html :: menu_tag"/>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container-fluid">
                <div class="card card-default">
                    <div class="card-header">
                        <h4>Quản lý nhóm người dùng</h4>
                    </div>
                    <div class="container-fluid">
                        <div class="row content" style="width: 100%">
Con ga con
                        </div>
                    </div>
                </div>

                <div class="popup-loading">
                    <div class="wrapper-loading">
                        <div class="sub-wrapper-loading">
                            <div class="d-flex justify-content-center">
                                <div class="spinner-border" role="statusLoading">
                                    <span class="sr-only" th:text="#{action.loading}">Loading...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <th:block th:replace="management-station/control.html :: management-station-control"/>
        </div>
    </div>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark" style="top: 0px; height: 306px; display: none; bottom: 28.6px;">
        <!-- Control sidebar content goes here -->
    </aside>
</div>
<th:block th:replace="layout_footer.html :: footer_tag"/>
<th:block th:replace="global_import_js.html :: global_import_js"/>
<script src="/js/management-station.js"></script>
</body>
</html>