<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="/layout_header.html :: head_tag" />
    <link rel="stylesheet" href="/css/management-station.css" type="text/css">
    <title>Quản lý người dùng</title>
</head>
<body class="hold-transition sidebar-mini layout-fixed text-sm">
<div class="wrapper">

    <th:block th:replace="/layout_menu.html :: menu_tag" />
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container-fluid">
                <div class="card card-default">
                    <div class="card-header">
                        <h4>Quản lý thông tin trạm quan trắc</h4>
                    </div>
                    <div class="container-fluid">
                        <div class="row content" style="width: 100%">
                            <div class="col-sm-5" id="box_search">
                                <div class="card-header">
                                    <h3 style="text-align: center"><b>Tìm kiếm trạm</b></h3>
                                </div>
                                <div class="form-horizontal" id="form_data">
                                    <div class="form-row">
                                        <div class="form-group col-md-6 col-sm-6 col-lg-6">
                                            <label for="stationType">Loại trạm</label>
                                            <select id="stationType" class="form-control" style="width: 100%;">

                                            </select>
                                        </div>
                                        <div class="form-group col-md-6 col-sm-6 col-lg-6">
                                            <label for="stationNameSearch">Tên trạm</label>
                                            <input type="text" class="form-control" id="stationNameSearch"
                                                   placeholder="Tên trạm">
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6 col-sm-6 col-lg-6">
                                            <label for="status">Trạng thái</label>
                                            <select id="status" class="form-control" style="width: 100%;">
                                                <option value="-1">Tất cả</option>
                                                <option value="1">Hoạt động</option>
                                                <option value="0">Không hoạt động</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <div class="wrap-button-control">
                                    <button class="btn btn-primary" id="btnSearch" style="width:100px;">
                                        <i class="fas fa-search"></i> Tìm kiếm
                                    </button>
                                    <button class="btn btn-primary" id="btnDonew" style="width:100px;">
                                        <i class="fas fa-plus"></i> Thêm
                                    </button>
                                </div>

                                <div class="card-body" style="width: 100%;overflow: auto">
                                    <table id="tableDataView" class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>#</th>
                                            <th data-id="s_objectType">Loại trạm</th>
                                            <th data-id="s_objectTypeName">Tên loại trạm</th>
                                            <th data-id="s_stationCode">Mã trạm</th>
                                            <th data-id="s_stationName">Tên trạm</th>
                                            <th data-id="s_longtitude">Kinh độ</th>
                                            <th data-id="s_latitude">Vĩ độ</th>
                                            <th data-id="s_provinceName">Tỉnh</th>
                                            <th data-id="s_districtName">Quận/Huyện</th>
                                            <th data-id="s_wardName">Xã</th>
                                            <th data-id="s_address">Địa chỉ</th>
                                            <th data-id="s_riverName">Thuộc sông</th>
<!--                                            <th data-id="s_stationHeight">Độ cao của trạm</th>-->
                                            <th data-id="s_status" is_select="1">Trạng thái</th>
<!--                                            <th data-id="s_parameterTypeName">Yếu tố</th>-->
<!--                                            <th data-id="s_unitName">Đơn vị tính</th>-->
<!--                                            <th data-id="s_device">Thiết bị đo</th>-->
<!--                                            <th data-id="s_measure">Tần số đo</th>-->
<!--                                            <th data-id="s_note">Ghi chú</th>-->
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.card-footer -->
                            <div class="col-sm-7"  id ="box_info">
                                <div style="width: 95%;float: right">
                                    <div class="card-header">
                                        <h3 style="text-align: center"><b>Thông tin trạm</b></h3>
                                    </div>
                                    <div class="form-horizontal" id="form_input">
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="stationTypeId">Loại trạm <span style="color: red;">*</span></label>
                                                <select id="stationTypeId" class="form-control" style="width: 100%;" onchange="station.checkStationType(this)">
                                                </select>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="modeStationType">Chế độ điều khiển <span style="color: red;">*</span></label>
                                                <select id="modeStationType" class="form-control" style="width: 100%;">
                                                    <option value="1">Qua API</option>
                                                    <option value="2">Lệnh điều khiển hỗ trợ</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="stationCode">Mã trạm <span style="color: red;">*</span></label>
                                                <input type="text" class="form-control" id="stationCode" placeholder="">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="stationName">Tên trạm <span style="color: red;">*</span></label>
                                                <input type="text" class="form-control" id="stationName" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="longtitude">Kinh độ <span style="color: red;">*</span></label>
                                                <input type="number" class="form-control" id="longtitude" placeholder="">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="latitude">Vĩ độ <span style="color: red;">*</span></label>
                                                <input type="number" class="form-control" id="latitude" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="areaId">Khu vực</label>
                                                <select id="areaId" class="form-control" style="width: 100%;" onchange="station.getProvince(this)">
                                                </select>
                                            </div>

                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="provinceId">Tỉnh</label>
                                                <select id="provinceId" class="form-control" style="width: 100%;" onchange="station.getDistrict(this)">
                                                    <option value="-1">Lựa chọn</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="districtId">Quận/huyện</label>
                                                <select id="districtId" class="form-control" style="width: 100%;" onchange="station.getWard(this)">
                                                    <option value="-1">Lựa chọn</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="wardId">Xã</label>
                                                <select id="wardId" class="form-control" style="width: 100%;">
                                                    <option value="-1">Lựa chọn</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="address">Địa chỉ cụ thể</label>
                                                <input type="text" class="form-control" id="address" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="riverId">Thuộc sông</label>
                                                <select id="riverId" class="form-control" style="width: 100%;">
                                                    <option value="-1">Lựa chọn</option>
                                                </select>
                                            </div>
<!--                                            <div class="form-group col-md-6">-->
<!--                                                <label for="input_phone">Độ cao của trạm(*)</label>-->
<!--                                                <input type="text" class="form-control" id="input_phone" placeholder="">-->
<!--                                            </div>-->
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="status">Trạng thái</label>
                                                <select id="status" class="form-control" style="width: 100%;">
                                                    <option value="1">Hoạt động</option>
                                                    <option value="0">Không hoạt động</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--  tab phan quyen-->
                                        <h3>Danh sách yếu tố đo của trạm</h3>
                                        <div class="tab-content">
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <label for="parameter">Yếu tố <span style="color: red;">*</span></label>
                                                        <select id="parameter" class="form-control" style="width: 100%;">
                                                            <option value="-1">Lựa chọn</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <label for="frequency">Tần số đo</label>
                                                        <input type="number" class="form-control" id="frequency" placeholder="">
                                                    </div>
<!--                                                    <div class="form-group col-md-6">-->
<!--                                                        <label for="unit">Đơn vị tính <span style="color: red;">*</span></label>-->
<!--                                                        <select id="unit" class="form-control" style="width: 100%;">-->
<!--                                                            <option value="-1">Lựa chọn</option>-->
<!--                                                        </select>-->
<!--                                                    </div>-->
                                                </div>
<!--                                                <div class="form-row">-->
<!--                                                    <div class="form-group col-md-6">-->
<!--                                                        <label for="input_group_id">Thiết bị đo</label>-->
<!--                                                        <input type="email" class="form-control" id="input_group_id" placeholder="">-->
<!--                                                    </div>-->

<!--                                                    <div class="form-group col-md-6">-->
<!--                                                        <label for="note">Ghi chú</label>-->
<!--                                                        <input type="text" class="form-control" id="note" placeholder="">-->
<!--                                                    </div>-->
<!--                                                </div>-->
<!--                                                <div class="form-row">-->
<!--                                                    <div class="form-group col-md-6">-->
<!--                                                        <label for="input_group_id">Ghi chú</label>-->
<!--                                                        <input type="email" class="form-control" id="input_group_id" placeholder="">-->
<!--                                                    </div>-->
<!--                                                </div>-->
                                            <div class="wrap-button-control">
                                                <button class="btn btn-primary" id="btnAddParameter" style="width: 100px;" onclick="station.btnAddParameter()">
                                                    <i class="fas fa-plus"></i> Thêm
                                                </button>
                                                <button class="btn btn-primary" id="btnRefreshParameter" style="width: 100px;" onclick="station.btnRefreshParameter()">
                                                    <i class="fas fa-redo-alt"></i> Làm mới
                                                </button>
                                            </div>

                                            <table id="tableDataParameter" class="table table-bordered table-hover" style="width: 98%">
                                                <thead style="width: 98%">
                                                <tr>
                                                    <th>#</th>
                                                    <th data-id="s_parameterName">Yếu tố</th>
                                                    <th data-id="s_unitName">Đơn vị tính</th>
                                                    <th data-id="s_note">Ghi chú</th>
                                                    <th data-id="">Tác động</th>
                                                </tr>
                                                </thead>
                                                <tbody style="width: 98%">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- end tab phan quyen-->
                                    <div class="wrap-button-control">
                                        <button class="btn btn-primary" id="btnsave" style="display:none;width: 100px;" onclick="station.btnSave()">
                                            <i class="fas fa-plus"></i> Lưu
                                        </button>
                                        <button class="btn btn-primary" id="btnupdate" style="display:none;width: 100px;" onclick="station.btnUpdate()">
                                            <i class="fas fa-edit"></i> Cập nhật
                                        </button>
                                        <button class="btn btn-primary" id="btnDelete" style="display:none;width: 100px;">
                                            <i class="far fa-trash-alt"></i> Xoá
                                        </button>
                                        <button class="btn btn-primary" id="btnReset" style="display:none;width: 100px;" onclick="station.btnRefresh()">
                                            <i class="fas fa-redo-alt"></i> Làm mới
                                        </button>
                                        <button class="btn btn-primary" id="btncancer" style="display:none;width: 100px;">
                                            <i class="fas fa-times"></i> Hủy
                                        </button>
                                    </div>

                                </div>
                            </div>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>

                <div class="popup-loading">
                    <div class="wrapper-loading">
                        <div class="sub-wrapper-loading">
                            <div class="d-flex justify-content-center">
                                <div class="spinner-border" role="statusLoading">
                                    <span class="sr-only" th:text="#{action.loading}">Loading...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<th:block th:replace="layout_footer.html :: footer_tag" />
<th:block th:replace="global_import_js.html :: global_import_js" />
<script src="/js/management-station.js"></script>

</html>