<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:replace="/layout_header.html :: head_tag"/>
    <link rel="stylesheet" href="/css/mail_config.css" type="text/css">
    <title>Cấu hình email</title>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <th:block th:replace="/layout_menu.html :: menu_tag"/>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                </div>
            </div>
        </div>
        <section class="content">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Quản lý dữ liệu trạm đo</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
<!--                <form role="form">-->
                    <div class="card-body">
                        <form action="#">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group row">
                                        <label for="inputIp" class="col-sm-5 col-form-label col-form-label-sm">
                                            <strong>Khu vực</strong>
                                        </label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control form-control-sm" id="inputIp">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group row">
                                        <label for="inputPort" class="col-sm-5 col-form-label col-form-label-sm">
                                            <strong>Loại trạm</strong>
                                        </label>
                                        <div class="col-sm-7">
                                            <input type="text" class="form-control form-control-sm" id="inputPort">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                        <div class="button-crud">
                            <button class="btn btn-sm btn-primary"><i class="fa fa-search"></i> Tìm kiếm</button>
                            <button class="btn btn-sm btn-success" data-toggle="modal" data-target="#management-station-add"><i
                                    class="fa fa-plus"></i> Thêm mới
                            </button>
                            <button class="btn btn-sm btn-warning"><i class="fa fa-edit"></i> Sửa</button>
                            <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> Xoá</button>
                            <button class="btn btn-sm btn-outline-primary"><i class="fa fa-file-export"></i> Export
                            </button>
                        </div>
                        <section class="content wrap-table-data">
                            <div class="card-body">
                                <table id="tableDataView" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th data-id="s_id">ID</th>
                                        <th data-id="s_ip">Yếu tố</th>
                                        <th data-id="s_port">Trạm</th>
                                        <th data-id="s_username">Loại trạm</th>
                                        <th data-id="s_password">Ngày cập nhật</th>
                                        <th data-id="s_domain">Người cập nhật</th>
                                        <th data-id="s_sendername">Trạng thái</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>#</td>

                                    </tr>
                                    <tr>
                                        <td>#</td>
                                        <td data-id="">1</td>
                                        <td data-id="">1</td>
                                        <td data-id="">hni09</td>
                                        <td data-id="">td</td>
                                        <td data-id="">12/12/2020</td>
                                        <td data-id="">admin</td>
                                        <td data-id="">Active</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </section>
                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
<!--                </form>-->
            </div>

        </section>
        <div class="popup-loading">
            <div class="wrapper-loading">
                <div class="sub-wrapper-loading">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="sr-only" th:text="#{action.loading}">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="/management-station/add.html :: management-station-add"/>
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <th:block th:replace="layout_footer.html :: footer_tag"/>
    <th:block th:replace="global_import_js.html :: global_import_js"/>
    <script src="/js/management-station.js"></script>
</div>
</body>
</html>