<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Yếu tố trạm đo</title>
    <th:block th:replace="layout_header.html :: head_tag"/>
    <link rel="stylesheet" href="/css/management-station.css" type="text/css">
</head>
<body class="hold-transition sidebar-mini layout-fixed text-sm">
<div class="wrapper">

    <th:block th:replace="layout_menu.html :: menu_tag"/>
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container-fluid">
                <div class="card card-default">
                    <div class="card-header">
                        <h4>Quản lý yếu tố trạm đo</h4>
                    </div>
                    <div class="container-fluid">
                        <div class="row content" style="width: 100%">
                            <div class="col-sm-5" id="box_search">
                                <!--                                <div class="card-header">-->
                                <!--                                    <h3 style="text-align: center"><b>Tìm kiếm trạm</b></h3>-->
                                <!--                                </div>-->
                                <!--                                <div class="form-horizontal" id="form_data">-->
                                <!--                                    <div class="form-row">-->
                                <!--                                        <div class="form-group col-md-6 col-sm-6 col-lg-6">-->
                                <!--                                            <label for="stationType">Loại trạm</label>-->
                                <!--                                            <select id="stationType" class="form-control" style="width: 100%;">-->

                                <!--                                            </select>-->
                                <!--                                        </div>-->
                                <!--                                        <div class="form-group col-md-6 col-sm-6 col-lg-6">-->
                                <!--                                            <label for="stationNameSearch">Tên trạm</label>-->
                                <!--                                            <input type="text" class="form-control" id="stationNameSearch"-->
                                <!--                                                   placeholder="Tên trạm">-->
                                <!--                                        </div>-->
                                <!--                                    </div>-->

                                <!--                                    <div class="form-row">-->
                                <!--                                        <div class="form-group col-md-6 col-sm-6 col-lg-6">-->
                                <!--                                            <label for="status">Trạng thái</label>-->
                                <!--                                            <select id="status" class="form-control" style="width: 100%;">-->
                                <!--                                                <option value="-1">Tất cả</option>-->
                                <!--                                                <option value="1">Hoạt động</option>-->
                                <!--                                                <option value="0">Không hoạt động</option>-->
                                <!--                                            </select>-->
                                <!--                                        </div>-->
                                <!--                                    </div>-->

                                <!--                                </div>-->
                                <div class="mt-1">
                                    <!--                                    <button class="btn btn-primary" id="btnSearch" style="width:100px;">-->
                                    <!--                                        <i class="fas fa-search"></i> Tìm kiếm-->
                                    <!--                                    </button>-->
                                    <button class="btn btn-primary" id="btnDonew" style="width:100px;">
                                        <i class="fas fa-plus"></i> Thêm
                                    </button>
                                </div>

                                <div class="card-body" style="width: 100%;overflow: auto">
                                    <table id="tableDataView" class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>#</th>
                                            <!--                                            <th></th>-->
                                            <th data-id="s_parameter">Tên yếu tố</th>
                                            <th data-id="s_parameterDesc">Mô tả</th>
                                            <th data-id="s_unit">Đơn vị</th>
                                            <th data-id="s_timeseries">Time series</th>
                                            <!--                                            <th data-id="s_longtitude">Kinh độ</th>-->
                                            <!--                                            <th data-id="s_latitude">Vĩ độ</th>-->
                                            <!--                                            <th data-id="s_provinceName">Tỉnh</th>-->
                                            <!--                                            <th data-id="s_districtName">Quận/Huyện</th>-->
                                            <!--                                            <th data-id="s_wardName">Xã</th>-->
                                            <!--                                            <th data-id="s_address">Địa chỉ</th>-->
                                            <!--                                            <th data-id="s_riverName">Thuộc sông</th>-->
                                            <!--                                            <th data-id="s_stationHeight">Độ cao của trạm</th>-->
                                            <!--                                            <th data-id="s_status" is_select="1">Trạng thái</th>-->
                                            <!--                                            <th data-id="s_parameterTypeName">Yếu tố</th>-->
                                            <!--                                            <th data-id="s_unitName">Đơn vị tính</th>-->
                                            <!--                                            <th data-id="s_device">Thiết bị đo</th>-->
                                            <!--                                            <th data-id="s_measure">Tần số đo</th>-->
                                            <!--                                            <th data-id="s_note">Ghi chú</th>-->
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.card-footer -->
                            <div class="col-sm-7" id="box_info">
                                <div style="width: 95%;float: right">
                                    <div class="card-header">
                                        <h3 style="text-align: center"><b>Thông tin yếu tố</b></h3>
                                    </div>
                                    <div class="form-horizontal" id="form_input">
                                        <!--                                        <div class="form-row">-->
                                        <!--                                            <div class="form-group col-md-6">-->
                                        <!--                                                <label for="stationTypeId">Loại trạm <span style="color: red;">*</span></label>-->
                                        <!--                                                <select id="stationTypeId" class="form-control" style="width: 100%;" onchange="station.checkStationType(this)">-->
                                        <!--                                                </select>-->
                                        <!--                                            </div>-->
                                        <!--                                            <div class="form-group col-md-6">-->
                                        <!--                                                <label for="modeStationType">Chế độ điều khiển <span style="color: red;">*</span></label>-->
                                        <!--                                                <select id="modeStationType" class="form-control" style="width: 100%;">-->
                                        <!--                                                    <option value="1">Qua API</option>-->
                                        <!--                                                    <option value="2">Lệnh điều khiển hỗ trợ</option>-->
                                        <!--                                                </select>-->
                                        <!--                                            </div>-->
                                        <!--                                        </div>-->
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="parameter">Tên yếu tố <span
                                                        style="color: red;">*</span></label>
                                                <input type="text" class="form-control" id="parameter" placeholder="">
                                                <span id="parameter_error" class="help-block" style="color: red"></span>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="parameterDesc">Mô tả </label>
                                                <input type="text" class="form-control" id="parameterDesc"
                                                       placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="unitId">Đơn vị tính <span
                                                        style="color: red;">*</span></label>
                                                <select id="unitId" class="form-control" style="width: 100%;">
                                                    <option value="-1">Lựa chọn</option>
                                                </select>
                                                <span id="unitId_error" class="help-block" style="color: red"></span>
                                            </div>
                                        </div>

                                        <!--  tab phan quyen-->
                                        <h3>Danh sách time series cấu hình</h3>
                                        <div class="tab-content">
                                            <div class="form-row">
                                                <div class="form-group col-md-4">
                                                    <label for="timeSeries">Time series <span
                                                            style="color: red;">*</span></label>
                                                    <select id="timeSeries" class="form-control" style="width: 100%;">
                                                        <option value="-1">Lựa chọn</option>
                                                    </select>
                                                    <span id="timeSeries_error" class="help-block" style="color: red"></span>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="tsConfigName">Time series config name <span style="color: red;">*</span></label>
                                                    <input type="text" class="form-control" id="tsConfigName" placeholder="">
                                                    <span id="tsConfigName_error" class="help-block" style="color: red"></span>
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="storage">Storage <span style="color: red;">*</span></label>
                                                    <input type="text" class="form-control" id="storage" placeholder="Bảng lưu trữ giá trị product">
                                                    <span id="storage_error" class="help-block" style="color: red"></span>
                                                </div>
                                            </div>

                                            <div class="wrap-button-control">
                                                <button class="btn btn-primary" id="btnAddSeries" style="width: 100px;"
                                                        onclick="station.btnAddSeries()">
                                                    <i class="fas fa-plus"></i> Thêm
                                                </button>
                                                <button class="btn btn-primary" id="btnRefreshSeries"
                                                        style="width: 100px;" onclick="station.btnRefreshSeries()">
                                                    <i class="fas fa-redo-alt"></i> Làm mới
                                                </button>
                                            </div>

                                            <table id="tableDataParameter" class="table table-bordered table-hover"
                                                   style="width: 98%">
                                                <thead style="width: 98%">
                                                <tr>
                                                    <th>#</th>
                                                    <!--                                                    <th data-id="s_stationParamterId">Time series Id</th>-->
                                                    <th data-id="s_parameterName">Time series Name</th>
                                                    <th data-id="s_unitName">Mô tả</th>
                                                    <th data-id="">Tác động</th>
                                                </tr>
                                                </thead>
                                                <tbody style="width: 98%">
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- end tab phan quyen-->
                                    <div class="wrap-button-control">
                                        <button class="btn btn-primary" id="btnsave" style="display:none;width: 100px;"
                                                onclick="station.btnSave()">
                                            <i class="fas fa-plus"></i> Lưu
                                        </button>
                                        <button class="btn btn-primary" id="btnupdate"
                                                style="display:none;width: 100px;" onclick="station.btnUpdate()">
                                            <i class="fas fa-edit"></i> Cập nhật
                                        </button>
                                        <button class="btn btn-primary" id="btnDelete"
                                                style="display:none;width: 100px;" onclick="station.btnDelete()">
                                            <i class="far fa-trash-alt"></i> Xoá
                                        </button>
                                        <button class="btn btn-primary" id="btnReset" style="display:none;width: 100px;"
                                                onclick="station.btnRefresh()">
                                            <i class="fas fa-redo-alt"></i> Làm mới
                                        </button>
                                        <button class="btn btn-primary" id="btncancer"
                                                style="display:none;width: 100px;">
                                            <i class="fas fa-times"></i> Hủy
                                        </button>
                                    </div>

                                </div>
                            </div>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>

                <div class="popup-loading">
                    <div class="wrapper-loading">
                        <div class="sub-wrapper-loading">
                            <div class="d-flex justify-content-center">
                                <div class="spinner-border" role="statusLoading">
                                    <span class="sr-only" th:text="#{action.loading}">Loading...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <th:block th:replace="management-station/control.html :: management-station-control"/>
        </div>
    </div>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark" style="top: 0px; height: 306px; display: none; bottom: 28.6px;">
        <!-- Control sidebar content goes here -->
    </aside>
</div>
<th:block th:replace="layout_footer.html :: footer_tag"/>
<th:block th:replace="global_import_js.html :: global_import_js"/>
<script src="/js/management-station-parameter.js"></script>
</body>
</html>